Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages cb45afd68995f5d958fec14a2d5a3a84dee53ac4
  tracelog.js
Due: none

chore: release v2.8.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat(pixel): implement Shopify Web Pixel extension
  docs/tracelog.js
  package.json
  src/ecommerce/shopify-cart-linker.ts
  src/pixel/event-mapper.ts
  src/pixel/index.ts
  src/pixel/pixel-sender.ts
  src/pixel/shopify-pixel.ts
  tests/integration/flows/shopify-cart-linker.test.ts
  tests/unit/ecommerce/shopify-cart-linker.test.ts
  tests/unit/pixel/event-mapper.test.ts
  tests/unit/pixel/pixel-sender.test.ts
  tests/unit/pixel/shopify-pixel.test.ts
  tsup.config.ts
  vite.pixel.config.mjs
Due: npm run fix, npx prettier --write

feat(pixel): enhance event mapping and error handling in pixel sender
  src/pixel/event-mapper.ts
  src/pixel/index.ts
  src/pixel/pixel-sender.ts
  src/pixel/shopify-pixel.ts
  tests/unit/pixel/event-mapper.test.ts
  tests/unit/pixel/pixel-sender.test.ts
Due: npm run fix

feat(pixel): cap item title, vendor, and SKU lengths; strip URL parameters from page_url
  src/pixel/event-mapper.ts
  src/pixel/pixel-sender.ts
  tests/unit/pixel/event-mapper.test.ts
  tests/unit/pixel/pixel-sender.test.ts
  tests/unit/pixel/shopify-pixel.test.ts
Due: npm run fix

chore: update dependencies for fast-uri, follow-redirects, and postcss to latest versions
  package-lock.json
Due: npx prettier --write

feat(pixel): enhance event mapping with XSS sanitization and item count logic
  .github/workflows/ci.yml
  src/pixel/event-mapper.ts
  tests/unit/pixel/event-mapper.test.ts
Due: npm run fix

feat: enhance event tracking with session-aware queue and synthetic click handling
  docs/tracelog.js
  src/handlers/click.handler.ts
  src/managers/event.manager.ts
  src/types/event.types.ts
  tests/e2e/critical-paths/click-tracking.spec.ts
  tests/integration/flows/event-pipeline.test.ts
  tests/unit/handlers/click-handler-synthetic.test.ts
  tests/unit/handlers/click-handler.test.ts
  tests/unit/managers/event-manager-session-aware-queue.test.ts
  tests/unit/managers/event-manager-session-guard.test.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix

feat: implement session-aware event queuing and enhance click coordinate validation
  src/handlers/click.handler.ts
  src/managers/event.manager.ts
  src/types/event.types.ts
  src/types/transformer.types.ts
  tests/unit/handlers/click-handler-synthetic.test.ts
  tests/unit/managers/event-manager-session-aware-queue.test.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix

feat(pixel): add pageshow and submit event listeners for cart attribute sync
  src/ecommerce/shopify-cart-linker.ts
  tests/unit/ecommerce/shopify-cart-linker.test.ts
Due: npm run fix

refactor(pixel): remove submit event listener and update tests for pageshow handling
  src/ecommerce/shopify-cart-linker.ts
  src/pixel/event-mapper.ts
  src/pixel/index.ts
  tests/unit/ecommerce/shopify-cart-linker.test.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages cc1817a21d8e61d964f3f363073fa34fe984cc42
  tracelog.js
Due: none

chore: release v2.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat(event-manager): implement session-aware event grouping and enhance batch processing
  docs/tracelog.js
  src/managers/event.manager.ts
  tests/unit/managers/event-manager-session-aware-queue.test.ts
Due: npm run fix

feat: enhance event tracking with critical options and auto-flush capabilities
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/handlers/page-view.handler.ts
  src/public-api.ts
  src/test-bridge.ts
  src/types/config.types.ts
  src/types/event.types.ts
  src/types/test-bridge.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/README.md
  tests/e2e/critical-paths/page-lifecycle.spec.ts
  tests/unit/core/api.test.ts
  tests/unit/core/app.test.ts
  tests/unit/handlers/pageview-handler.test.ts
Due: npm run fix, npx prettier --write

feat(error-handler): add error constructor name to error tracking data
  src/handlers/error.handler.ts
  src/types/event.types.ts
Due: npm run fix

feat: enhance event flushing semantics and error handling across API and documentation
  API_REFERENCE.md
  BEST_PRACTICES.md
  src/api.ts
  src/app.ts
  src/handlers/page-view.handler.ts
  src/managers/event.manager.ts
  src/test-bridge.ts
  src/types/test-bridge.types.ts
  tests/unit/core/app.test.ts
  tests/unit/managers/event-manager-session-aware-queue.test.ts
Due: npm run fix, npx prettier --write

feat: implement dedicated sendBeacon for critical events
  API_REFERENCE.md
  BEST_PRACTICES.md
  docs/tracelog.js
  src/app.ts
  src/managers/event.manager.ts
  tests/e2e/critical-paths/mobile-safari-lifecycle.spec.ts
  tests/e2e/critical-paths/page-lifecycle.spec.ts
  tests/integration/flows/framework-router-patching.test.ts
  tests/integration/flows/stress-critical-events.test.ts
  tests/unit/managers/event-manager-critical-dedicated-beacon.test.ts
  tests/unit/managers/event-manager-critical-race.test.ts
Due: npm run fix, npx prettier --write

refactor: enhance critical event handling and documentation
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/app.ts
  src/managers/README.md
  src/managers/event.manager.ts
  tests/e2e/critical-paths/mobile-safari-lifecycle.spec.ts
  tests/unit/managers/event-manager-critical-dedicated-beacon.test.ts
Due: npm run fix, npx prettier --write

refactor: update EventManager to improve async send handling and documentation
  API_REFERENCE.md
  BEST_PRACTICES.md
  src/api.ts
  src/app.ts
  src/handlers/click.handler.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/pixel/event-mapper.ts
  src/public-api.ts
  tests/e2e/critical-paths/mobile-safari-lifecycle.spec.ts
  tests/e2e/critical-paths/page-lifecycle.spec.ts
  tests/integration/flows/stress-critical-events.test.ts
  tests/unit/managers/event-manager-critical-dedicated-beacon.test.ts
  tests/unit/managers/event-manager-critical-race.test.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/pixel/event-mapper.test.ts
Due: npm run fix, npx prettier --write

refactor: change flushOnSpaNavigation to opt-in and update related documentation
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  src/handlers/page-view.handler.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/unit/handlers/pageview-handler.test.ts
Due: npm run fix, npx prettier --write

test(e2e): update SPA navigation test to enable flushOnSpaNavigation
  docs/tracelog.js
  tests/e2e/critical-paths/page-lifecycle.spec.ts
Due: none

docs: update API documentation and best practices for critical event handling and flush behavior
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  src/api.ts
  src/app.ts
  src/managers/event.manager.ts
  tests/unit/managers/event-manager-critical-race.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 362a0c9b815c7c394693357b46c62d670ad64dbd
  tracelog.js
Due: none

chore: release v2.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement per-pageview error signature throttling and related utilities
  src/app.ts
  src/constants/error.constants.ts
  src/handlers/README.md
  src/handlers/error.handler.ts
  src/utils/error-signature.utils.ts
  src/utils/index.ts
  tests/e2e/critical-paths/error-capture.spec.ts
  tests/integration/flows/error-throttling.test.ts
  tests/unit/handlers/error-handler.test.ts
  tests/unit/utils/error-signature.utils.test.ts
Due: npm run fix, npx prettier --write

refactor: enhance error handling with per-pageview signature throttling and memory safety limits
  docs/tracelog.js
  src/constants/error.constants.ts
  src/handlers/error.handler.ts
  tests/e2e/critical-paths/error-capture.spec.ts
Due: npm run fix

test: add coverage tests for TimeManager, StorageManager, SenderManager, and API
  tests/unit/core/api.test.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/managers/storage-manager.test.ts
  tests/unit/managers/time-manager.test.ts
Due: none

refactor: replace Response with MockResponse in SenderManager tests for improved compatibility
  tests/unit/managers/sender-manager.test.ts
Due: none

refactor: replace real SenderManager with a fake sender in stress tests for improved isolation
  tests/integration/flows/recovery.test.ts
  tests/integration/flows/stress-critical-events.test.ts
Due: none

refactor: remove end-to-end test from critical ingestion test script for improved clarity
  package.json
Due: npx prettier --write

refactor: update event data structures for v3.0 compatibility; remove deprecated fields and adjust assertions
  tests/e2e/critical-paths/page-view-tracking.spec.ts
  tests/e2e/critical-paths/scroll-tracking.spec.ts
  tests/e2e/helpers/assertions.helper.ts
Due: none

refactor: enhance identity management with traits support and add resetIdentity method; migrate legacy storage keys for v3 compatibility
  src/api.ts
  src/app.ts
  src/managers/sender.manager.ts
  src/public-api.ts
  src/types/test-bridge.types.ts
  src/utils/network/url.utils.ts
  src/utils/validations/type-guards.utils.ts
  tests/e2e/critical-paths/initialization.spec.ts
  tests/unit/core/api.test.ts
  tests/unit/core/app.test.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

refactor: remove primaryScrollSelector from Config and related validations
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  SECURITY.md
  src/app.ts
  src/constants/config.constants.ts
  src/handlers/README.md
  src/managers/README.md
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/TESTING_FUNDAMENTALS.md
  tests/TESTING_GUIDE.md
  tests/TESTING_TROUBLESHOOTING.md
  tests/helpers/assertions.helper.ts
  tests/helpers/mocks.helper.ts
Due: npm run fix, npx prettier --write

chore: remove outdated command files and skills
  .claude/README.md
  .claude/commands/compare-branch.md
  .claude/commands/coverage.md
  .claude/commands/fix.md
  .claude/commands/perf.md
  .claude/commands/precommit.md
  .claude/commands/research-team.md
  .claude/commands/security-audit.md
  .claude/skills/docs-audit
  .claude/skills/post-deploy-check
  .claude/skills/product-audit
  .claude/skills/shared
  .github/instructions/api.instructions.md
  .github/instructions/handlers.instructions.md
  .github/instructions/integrations.instructions.md
  .github/instructions/managers.instructions.md
  .github/instructions/utils.instructions.md
Due: npx prettier --write

refactor: implement recovery age filter to discard stale events during replay
  docs/tracelog.js
  src/constants/config.constants.ts
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

refactor: update test command for CI and remove long task throttling from performance handler documentation; enhance PII patterns for email matching
  package.json
  playwright.config.ts
  src/handlers/performance.handler.ts
  src/utils/security/pii.utils.ts
Due: npm run fix, npx prettier --write

refactor: remove viewport tracking configuration and related styles; simplify session management
  docs/README.md
  docs/script.js
  docs/style.css
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages e96718f5517ac2725303595fa4bfb8445b6df93a
  README.md
  script.js
  style.css
  tracelog.js
Due: npx prettier --write

Path conditions:
  npm run fix: any of: src/**/*.ts
  npx prettier --write: (any of: scripts/**/*.js) or (any of: *.{json,md})
