Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["npm run fix"],
  "scripts/**/*.js": ["npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

chore(demo): deploy updated demo to GitHub Pages bd230c0fbd0e0510629e74e3ad521628ffc92e37
  tracelog.js
Due: none

chore: release v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

ci: enhance CI workflows with concurrency management and all-checks validation step
  .github/workflows/ci.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/release.yml
Due: none

ci: improve NPM version check and stabilization delay in release workflow
  .github/workflows/release.yml
Due: none

docs: update RELEASE.md to clarify CI processes, release triggers, and validation steps
  RELEASE.md
Due: npx prettier --write

chore: release v1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement session management improvements and regression tests
  .gitignore
  docs/tracelog.js
  src/app.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/managers/session.manager.ts
  tests/integration/session-audit-regression.test.ts
  tests/integration/session-broadcast-race-condition.test.ts
Due: npm run fix, npx prettier --write

chore: remove unnecessary line in session manager and update type for onmessage in tests
  src/managers/session.manager.ts
  tests/integration/session-audit-regression.test.ts
  tests/integration/session-broadcast-race-condition.test.ts
Due: npm run fix

refactor: update timer handling to use runOnlyPendingTimersAsync for improved accuracy
  tests/TESTING_GUIDE.md
  tests/unit/managers/event-manager-no-infinite-retry.test.ts
  tests/unit/managers/sender-hybrid-strategy.test.ts
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 1d352e26cd53eb3958625811cd187273053d3158
  tracelog.js
Due: none

chore: release v1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: enhance Google Analytics integration to support GTM
  API_REFERENCE.md
  README.md
  src/integrations/google-analytics.integration.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/unit/config-validations.spec.ts
  tests/unit/google-analytics.spec.ts
Due: npm run fix, npx prettier --write

feat: update Google Analytics integration to support optional container ID and improve configuration validation
  .claude/agents/feature-orchestrator.md
  .claude/agents/security-privacy-advisor.md
  .cursor/rules/context.mdc
  .github/copilot-instructions.md
  .github/instructions/integrations.instructions.md
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  docs/README.md
  src/app.ts
  src/integrations/google-analytics.integration.ts
  src/managers/event.manager.ts
  src/test-bridge.ts
  src/types/config.types.ts
  src/types/event.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/integration/api-init.integration.test.ts
  tests/unit/config-validations.spec.ts
  tests/unit/google-analytics.spec.ts
  tests/utils/test-setup.ts
Due: npm run fix, npx prettier --write

feat: implement consent management system for GDPR/CCPA compliance with granular control per integration
  API_REFERENCE.md
  README.md
  src/api.ts
  src/app.ts
  src/constants/config.constants.ts
  src/constants/storage.constants.ts
  src/managers/consent.manager.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/public-api.ts
  src/test-bridge.ts
  src/types/config.types.ts
  src/types/consent.types.ts
  src/types/emitter.types.ts
  src/types/index.ts
  src/types/test-bridge.types.ts
  src/utils/consent.utils.ts
  src/utils/index.ts
  src/utils/validations/config-validations.utils.ts
  tests/integration/consent.management.test.ts
  tests/unit/managers/consent-manager.test.ts
  tests/unit/managers/event-manager-consent-buffering.test.ts
  tests/unit/managers/event-manager-consent-cleanup.test.ts
  tests/utils/test-setup.ts
Due: npm run fix, npx prettier --write

fix: improve condition for checking Google Analytics event forwarding configuration
  src/managers/event.manager.ts
Due: npm run fix

fix: enhance validation for Google Analytics and GTM IDs, ensuring correct format and type checks
  src/integrations/google-analytics.integration.ts
  src/managers/event.manager.ts
  src/utils/validations/config-validations.utils.ts
Due: npm run fix

refactor: streamline Google Analytics integration by encapsulating gtag checks and improving script loading logic
  src/integrations/google-analytics.integration.ts
  src/utils/validations/config-validations.utils.ts
Due: npm run fix

fix: update consent persistence wait time to use a constant for improved readability
  src/api.ts
Due: npm run fix

feat: add browser environment check in ConsentManager and improve error logging in consent utilities
  src/managers/consent.manager.ts
  src/managers/event.manager.ts
  src/utils/consent.utils.ts
Due: npm run fix

refactor: add documentation for consent persistence wait time and improve browser environment handling in ConsentManager
  src/api.ts
  src/managers/consent.manager.ts
Due: npm run fix

docs: enhance documentation across app
  src/api.ts
  src/app.ts
  src/constants/app.constants.ts
  src/constants/config.constants.ts
  src/constants/storage.constants.ts
  src/handlers/error.handler.ts
  src/handlers/page-view.handler.ts
  src/integrations/google-analytics.integration.ts
  src/listeners/activity-listener-manager.ts
  src/listeners/input-listener-managers.ts
  src/listeners/listeners.types.ts
  src/listeners/touch-listener-manager.ts
  src/listeners/unload-listener-manager.ts
  src/listeners/visibility-listener-manager.ts
  src/managers/consent.manager.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/managers/session.manager.ts
  src/managers/state.manager.ts
  src/managers/storage.manager.ts
  src/managers/user.manager.ts
  src/types/common.types.ts
  src/types/device.types.ts
  src/types/emitter.types.ts
  src/types/scroll.types.ts
  src/types/session.types.ts
  src/utils/emitter.utils.ts
  src/utils/logging.utils.ts
Due: npm run fix

docs: establish comprehensive code comments policy and enhance documentation in multiple files
  .claude/agents/clean-code-architect.md
  .cursor/rules/clean-code.mdc
  .github/copilot-instructions.md
  .github/instructions/api.instructions.md
  .github/instructions/handlers.instructions.md
  .github/instructions/integrations.instructions.md
  .github/instructions/managers.instructions.md
  .github/instructions/utils.instructions.md
  CLAUDE.md
  src/app.ts
  src/handlers/click.handler.ts
  src/handlers/error.handler.ts
  src/handlers/page-view.handler.ts
  src/handlers/performance.handler.ts
  src/handlers/session.handler.ts
  src/handlers/viewport.handler.ts
  src/integrations/google-analytics.integration.ts
  src/managers/consent.manager.ts
  src/managers/event.manager.ts
  src/managers/storage.manager.ts
  src/utils/consent.utils.ts
  src/utils/data/uuid.utils.ts
  src/utils/network/url.utils.ts
  src/utils/security/sanitize.utils.ts
Due: npm run fix, npx prettier --write

docs: managers doc improves
  BEST_PRACTICES.md
  CLAUDE.md
  SECURITY.md
  src/listeners/README.md
  src/listeners/touch-listener-manager.ts
  src/listeners/visibility-listener-manager.ts
  src/managers/README.md
  src/managers/consent.manager.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/managers/session.manager.ts
  src/managers/storage.manager.ts
Due: npm run fix, npx prettier --write

docs: enhance initialization flow documentation and add consent management details
  CLAUDE.md
  POSITIONING.md
  README.md
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/managers/consent.manager.ts
  src/managers/storage.manager.ts
Due: npm run fix, npx prettier --write

test: add end-to-end tests for consent persistence and quota handling scenarios
  docs/tracelog.js
  src/test-bridge.ts
  tests/e2e/consent-persistence-before-init.spec.ts
  tests/e2e/consent-quota-exceeded.spec.ts
Due: npm run fix

refactor: streamline TestBridge implementation for development mode and enhance API integration
  .vscode/mcp.json
  docs/tracelog.js
  src/api.ts
  src/test-bridge.ts
  src/types/test-bridge.types.ts
  tests/e2e/consent-persistence-before-init.spec.ts
Due: npm run fix, npx prettier --write

test: add end-to-end tests for multiple integrations, rate limiting, and URL sensitive params filtering
  tests/e2e/multiple-integrations.spec.ts
  tests/e2e/rate-limiting.spec.ts
  tests/e2e/url-sensitive-params.spec.ts
  tests/unit/error-sampling.spec.ts
Due: none

test: enhance end-to-end tests for consent quota handling and introduce client-side sampling rate tests
  tests/e2e/consent-quota-exceeded.spec.ts
  tests/e2e/sampling-rate.spec.ts
Due: none

test: add end-to-end tests for global metadata propagation, session timeout behavior, and web vitals thresholds configuration
  .commitlintrc.json
  tests/e2e/global-metadata.spec.ts
  tests/e2e/sampling-rate.spec.ts
  tests/e2e/session-timeout.spec.ts
  tests/e2e/web-vitals-thresholds.spec.ts
Due: npx prettier --write

test: add end-to-end tests for cleanup, memory management, concurrency, race conditions, and error recovery scenarios
  tests/e2e/cleanup-memory-management.spec.ts
  tests/e2e/concurrency-race-conditions.spec.ts
  tests/e2e/error-recovery-resilience.spec.ts
Due: none

refactor: improve Google Analytics integration handling and validation, enhance consent checks, and update measurement ID validation logic
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/unit/config-validations.spec.ts
  tests/unit/managers/event-manager-consent-cleanup.test.ts
Due: npm run fix

refactor: enhance click, scroll, and performance handlers with improved documentation and consent management logic; add end-to-end tests for consent management scenarios
  docs/tracelog.js
  src/handlers/README.md
  src/handlers/click.handler.ts
  src/handlers/page-view.handler.ts
  src/handlers/performance.handler.ts
  src/handlers/scroll.handler.ts
  src/handlers/session.handler.ts
  src/handlers/viewport.handler.ts
  tests/e2e/consent-management.spec.ts
Due: npm run fix, npx prettier --write

refactor: enhance consent management logic with improved error handling, update consent persistence mechanism, and add comprehensive documentation; introduce new constants for storage keys
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/managers/consent.manager.ts
  src/test-bridge.ts
  tests/e2e/consent-management.spec.ts
Due: npm run fix

refactor: enhance Google Analytics integration by adding configurable event forwarding options, improving script management, and updating documentation for clarity
  API_REFERENCE.md
  src/integrations/google-analytics.integration.ts
  src/managers/event.manager.ts
Due: npm run fix, npx prettier --write

refactor: enhance consent and event management logic with improved event emission on consent changes, update documentation for clarity, and refine error handling in sender manager
  src/managers/README.md
  src/managers/consent.manager.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/managers/session.manager.ts
  src/managers/state.manager.ts
  src/managers/user.manager.ts
Due: npm run fix, npx prettier --write

refactor: enhance API documentation for event handling, consent management, and error handling; clarify transformer behavior across integration modes and improve examples for better understanding
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  POSITIONING.md
  README.md
  src/api.ts
  src/app.ts
Due: npm run fix, npx prettier --write

test: update API integration tests to improve timer handling by adding runOnlyPendingTimersAsync after advancing time for better accuracy in event processing
  tests/integration/api-transformers.integration.test.ts
Due: none

refactor: enhance Google Consent Mode v2 integration by adding granular consent management options, improving documentation, and implementing synchronization with existing consent configurations
  API_REFERENCE.md
  README.md
  src/app.ts
  src/integrations/google-analytics.integration.ts
  src/types/config.types.ts
  src/types/google.types.ts
  src/types/index.ts
Due: npm run fix, npx prettier --write

refactor: enhance test setup by injecting TestBridge for better unit and integration testing, and streamline function signatures in bridge helper for consistency
  src/app.ts
  tests/helpers/bridge.helper.ts
  tests/setup.ts
  tests/unit/core/app.test.ts
Due: npm run fix
