Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["npm run fix"],
  "scripts/**/*.js": ["npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

chore: release v3.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement pre-render guard to defer event emissions until page activation; add related tests
  API_REFERENCE.md
  CHANGELOG.md
  src/app.ts
  src/managers/session.manager.ts
  src/utils/browser/index.ts
  src/utils/browser/prerender.utils.ts
  tests/e2e/critical-paths/prerender-guard.spec.ts
  tests/integration/flows/prerender-guard.test.ts
Due: npm run fix, npx prettier --write

feat: update version to 3.0.0 and implement prerendering support for session management
  docs/tracelog.js
Due: none

feat: implement click identifier capture for session attribution; add related tests
  SECURITY.md
  src/managers/event.manager.ts
  src/managers/session.manager.ts
  src/types/event.types.ts
  src/types/state.types.ts
  src/utils/browser/click-ids.utils.ts
  src/utils/browser/index.ts
  tests/unit/utils/browser/click-ids.test.ts
Due: npm run fix, npx prettier --write

feat: implement click ID attribution and pre-render guard; add integration and unit tests
  API_REFERENCE.md
  docs/tracelog.js
  src/managers/session.manager.ts
  tests/integration/flows/click-ids-attribution.test.ts
  tests/integration/flows/prerender-guard.test.ts
  tests/unit/managers/session-manager.test.ts
Due: npm run fix, npx prettier --write

chore: add symlink for check catalog rules
  CHANGELOG.md
  tests/integration/flows/prerender-guard.test.ts
Due: npx prettier --write

chore: add symlink for check catalog rules
  .claude/rules/check-catalog.md
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 33a29a668693018a5eeebb055e744dec8244cc43
  tracelog.js
Due: none

chore: release v3.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: enhance error signature handling with page URL support and add related tests
  src/handlers/error.handler.ts
  src/utils/error-signature.utils.ts
  tests/unit/utils/error-signature.utils.test.ts
Due: npm run fix

feat: enhance error handling and signature generation for inline-script errors; add related tests
  src/handlers/error.handler.ts
  tests/unit/handlers/error-handler.test.ts
  tests/unit/utils/error-signature.utils.test.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 92daf39399331f319fb706f2ebfda3f06d4fa08a
  tracelog.js
Due: none

chore: release v3.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add support for optional collectUrl in TraceLog integration; enhance validation and tests
  API_REFERENCE.md
  src/types/config.types.ts
  src/utils/network/url.utils.ts
  src/utils/validations/config-validations.utils.ts
  tests/unit/utils/network/url-utils.test.ts
  tests/unit/utils/validations/config-validations.test.ts
Due: npm run fix, npx prettier --write

test: enhance network URL utils tests with setup and teardown procedures
  tests/unit/utils/network/url-utils.test.ts
Due: none

feat: update documentation to include optional collectUrl for managed ingest endpoint
  CLAUDE.md
  README.md
  docs/README.md
Due: npx prettier --write

feat: add health beacon functionality for 403 errors; include throttling and related tests
  API_REFERENCE.md
  src/constants/error.constants.ts
  src/managers/sender.manager.ts
  src/types/config.types.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

feat: enhance health beacon functionality for 403 errors; improve throttling and add related tests
  API_REFERENCE.md
  CLAUDE.md
  src/constants/error.constants.ts
  src/constants/storage.constants.ts
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

chore: update vitest and coverage dependencies to latest versions
  package-lock.json
  package.json
  tests/helpers/mocks.helper.ts
  tests/integration/flows/multi-tab-sync.test.ts
  tests/integration/flows/shopify-cart-linker.test.ts
  tests/unit/ecommerce/shopify-cart-linker.test.ts
  tests/unit/handlers/click-handler-synthetic.test.ts
  tests/unit/handlers/error-handler.test.ts
  tests/unit/handlers/pageview-handler.test.ts
  tests/unit/listeners/activity-listener-manager.test.ts
  tests/unit/listeners/touch-listener-manager.test.ts
  tests/unit/listeners/visibility-listener-manager.test.ts
  tests/unit/managers/event-manager-critical-race.test.ts
  tests/unit/managers/session-manager.test.ts
  tests/unit/pixel/pixel-sender.test.ts
  tests/unit/pixel/shopify-pixel.test.ts
Due: npx prettier --write

feat: add health beacon functionality and improve error handling; update test configurations
  docs/tracelog.js
  package.json
  vitest.config.mjs
  vitest.integration.config.mjs
Due: npx prettier --write

feat: update health beacon functionality to include projectId in storage keys and improve throttling logic
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/constants/storage.constants.ts
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages b6acc7dc6fbb02997e282a1be986f59e01dc16c2
  tracelog.js
Due: none

chore: release v3.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

chore: commit skill
  .claude/skills/commit
Due: none

feat: improve navigation deduplication and URL normalization; add comprehensive handler tests
  API_REFERENCE.md
  SECURITY.md
  src/handlers/click.handler.ts
  src/handlers/page-view.handler.ts
  src/handlers/performance.handler.ts
  src/managers/session.manager.ts
  src/utils/browser/referrer.utils.ts
  src/utils/network/url.utils.ts
  tests/unit/handlers/click-handler.test.ts
  tests/unit/handlers/pageview-handler.test.ts
  tests/unit/handlers/performance-handler.test.ts
  tests/unit/utils/referrer.utils.test.ts
  tests/unit/utils/url.utils.test.ts
Due: npm run fix, npx prettier --write

feat: support hosted ingest endpoint (zero-DNS) and firstParty accuracy mode; add URL utilities
  API_REFERENCE.md
  CLAUDE.md
  docs/tracelog.js
  src/constants/app.constants.ts
  src/types/config.types.ts
  src/utils/network/url.utils.ts
  tests/e2e/critical-paths/initialization.spec.ts
  tests/unit/core/app.test.ts
  tests/unit/utils/url.utils.test.ts
Due: npm run fix, npx prettier --write

refactor: url utils improves
  docs/tracelog.js
  src/utils/network/url.utils.ts
  tests/unit/utils/url.utils.test.ts
Due: npm run fix

chore: add lint-patterns hook and settings for pixel integrity enforcement
  .claude/hooks/lint-patterns.sh
  .claude/settings.json
Due: npx prettier --write

chore: enforce internal task/audit reference guard in lint hook; remove existing violations
  .claude/hooks/lint-patterns.sh
  CLAUDE.md
  tests/unit/managers/sender-manager.test.ts
Due: npx prettier --write

feat: expand sensitive query param filtering with credential-specific params
  API_REFERENCE.md
  BEST_PRACTICES.md
  README.md
  SECURITY.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/handlers/click.handler.ts
  src/managers/session.manager.ts
  tests/unit/utils/url.utils.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 7516ad9089e6d21b4d13e26acab04d153e381c28
  tracelog.js
Due: none

chore: release v3.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

chore: control tower skill
  .claude/skills/control-tower
Due: none

fix: prevent empty rejection messages from failing batch ingestion
  src/handlers/error.handler.ts
  tests/unit/handlers/error-handler.test.ts
Due: npm run fix

refactor: consolidate empty message guards into sanitizeMessage helper
  src/handlers/error.handler.ts
  tests/unit/handlers/error-handler.test.ts
Due: npm run fix

chore: patch vite and js-yaml dev deps to clear npm audit advisories
  package-lock.json
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 94b9f465e9b5dd711475899d2d20ed3441e14cd9
  tracelog.js
Due: none

chore: release v3.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

chore: claude code setup update
  .claude/skills/work
Due: none

feat: add documentation mapping and check-docs hook for improved doc alignment
  .claude/hooks/check-docs.sh
  .claude/hooks/docs-mapping.json
  .claude/hooks/lint-patterns.sh
Due: npx prettier --write
