Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

chore: release v0.8.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: remove scrollContainerSelectors and enhance scroll handler for automatic detection
  CLAUDE.md
  README.md
  docs/README.md
  docs/tracelog.js
  src/handlers/README.md
  src/handlers/error.handler.ts
  src/handlers/performance.handler.ts
  src/handlers/scroll.handler.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/config.types.ts
  src/types/event.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/e2e/dynamic-scroll-containers.spec.ts
  tests/e2e/scroll-core-behavior.spec.ts
  tests/integration/api-init.integration.test.ts
  tests/integration/app-lifecycle.integration.test.ts
  tests/integration/scroll-container-retry.integration.test.ts
  tests/integration/scroll-core-behavior.integration.test.ts
  tests/unit/config-validations.spec.ts
  tests/unit/event.manager.spec.ts
  tests/unit/handlers/scroll-handler-core.test.ts
  tests/unit/handlers/scroll-handler-retry.test.ts
  tests/unit/managers/event-manager-deduplication.test.ts
  tests/unit/managers/event-manager-session-guard.test.ts
  tests/unit/managers/session-beforeunload-sync.test.ts
Due: npm run fix, npx prettier --write

feat: add primary scroll container detection and validation for enhanced scroll event tracking
  README.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/handlers/README.md
  src/handlers/scroll.handler.ts
  src/types/config.types.ts
  src/types/event.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/e2e/scroll-core-behavior.spec.ts
  tests/unit/config/primary-scroll-selector-validation.test.ts
  tests/unit/config/primary-scroll-selector.test.ts
  tests/unit/event.manager.spec.ts
  tests/unit/handlers/scroll-handler-cache.test.ts
  tests/unit/handlers/scroll-handler-core.test.ts
  tests/unit/handlers/scroll-handler-update-container-primary.test.ts
  tests/unit/managers/event-manager-deduplication.test.ts
  tests/unit/managers/event-manager-session-guard.test.ts
  tests/unit/managers/session-beforeunload-sync.test.ts
  tests/unit/types/event-type-guards.test.ts
Due: npm run fix, npx prettier --write

refactor: implement retry mechanism for scroll container detection and improve configuration handling
  docs/tracelog.js
  src/handlers/scroll.handler.ts
Due: npm run fix

docs: update READMEs
  README.md
  docs/tracelog.js
  src/constants/error.constants.ts
  src/handlers/README.md
  src/handlers/error.handler.ts
  src/listeners/README.md
  src/managers/README.md
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
Due: npm run fix, npx prettier --write

docs: update error sampling rate in README files to reflect new default value
  README.md
  src/handlers/README.md
Due: npx prettier --write

chore: clean up initialization logic in api.ts by removing comments and improving readability
  src/api.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages fe8918babb75a8865744685159e2dcf9959a2487
  README.md
  tracelog.js
Due: npx prettier --write

chore: release v0.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement PII protection and data-tlog-ignore functionality in code
  README.md
  SECURITY.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/handlers/README.md
  src/handlers/click.handler.ts
  src/utils/network/url.utils.ts
  tests/e2e/data-tlog-ignore.spec.ts
  tests/e2e/input-value-protection.spec.ts
  tests/unit/utils/url-utils.test.ts
Due: npm run fix, npx prettier --write

docs: remove outdated security reporting guidelines from SECURITY.md
  SECURITY.md
Due: npx prettier --write

docs: update sensitive query parameters in documentation and constants to enhance security measures
  README.md
  SECURITY.md
  src/constants/config.constants.ts
  src/handlers/README.md
Due: npm run fix, npx prettier --write

chore: introduce comprehensive Claude development pipeline with agents, commands, and hooks for TraceLog library
  .claude/README.md
  .claude/agents/feature-orchestrator.md
  .claude/agents/memory-leak-detector.md
  .claude/agents/release-orchestrator.md
  .claude/agents/security-privacy-advisor.md
  .claude/agents/test-guardian.md
  .claude/agents/type-safety-enforcer.md
  .claude/commands/coverage.md
  .claude/commands/fix.md
  .claude/commands/new-feature.md
  .claude/commands/perf.md
  .claude/commands/precommit.md
  .claude/commands/release.md
  .claude/commands/security-audit.md
  .claude/hooks/post-edit-tests.sh
  .claude/hooks/pre-edit-validation.sh
  .claude/hooks/prompt-validator.sh
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: npx prettier --write

chore: update model references to claude-sonnet-4-5 across agents and commands
  .claude/agents/feature-orchestrator.md
  .claude/agents/memory-leak-detector.md
  .claude/agents/release-orchestrator.md
  .claude/agents/security-privacy-advisor.md
  .claude/agents/test-guardian.md
  .claude/agents/type-safety-enforcer.md
  .claude/commands/coverage.md
  .claude/commands/fix.md
  .claude/commands/new-feature.md
  .claude/commands/perf.md
  .claude/commands/precommit.md
  .claude/commands/release.md
  .claude/commands/security-audit.md
Due: npx prettier --write

feat: add viewport visibility tracking with IntersectionObserver support
  .claude/agents/feature-orchestrator.md
  .claude/agents/release-orchestrator.md
  .claude/commands/new-feature.md
  CLAUDE.md
  README.md
  docs/README.md
  docs/tracelog.js
  src/app.ts
  src/handlers/README.md
  src/handlers/viewport.handler.ts
  src/managers/event.manager.ts
  src/types/config.types.ts
  src/types/event.types.ts
  src/types/viewport.types.ts
  tests/e2e/viewport-visibility.spec.ts
  tests/integration/viewport-tracking.integration.test.ts
  tests/unit/handlers/viewport-handler.test.ts
Due: npm run fix, npx prettier --write

chore: remove release-orchestrator agent and update release process documentation
  .claude/README.md
  .claude/agents/feature-orchestrator.md
  .claude/agents/release-orchestrator.md
  .claude/commands/new-feature.md
  .claude/commands/release.md
Due: npx prettier --write

feat: enhance viewport tracking with element identifiers for improved analytics
  README.md
  src/handlers/README.md
  src/handlers/viewport.handler.ts
  src/types/viewport.types.ts
  tests/e2e/viewport-visibility.spec.ts
  tests/integration/viewport-tracking.integration.test.ts
  tests/unit/handlers/viewport-handler.test.ts
Due: npm run fix, npx prettier --write

feat: optimize server load critical fixes
  .claude/agents/feature-orchestrator.md
  .claude/commands/new-feature.md
  README.md
  docs/tracelog.js
  src/handlers/page-view.handler.ts
  src/handlers/performance.handler.ts
  src/managers/event.manager.ts
  src/types/config.types.ts
  tests/e2e/web-vitals-report-final-only.spec.ts
  tests/unit/handlers/page-view-handler-throttle.test.ts
  tests/unit/managers/event-manager-dynamic-flush.test.ts
Due: npm run fix, npx prettier --write

feat: implement server load optimizations
  docs/tracelog.js
  src/constants/config.constants.ts
  src/handlers/click.handler.ts
  src/handlers/viewport.handler.ts
  src/managers/event.manager.ts
  src/types/config.types.ts
  src/types/viewport.types.ts
  tests/unit/managers/event-manager-per-event-rate-limit.test.ts
Due: npm run fix

feat: introduce comprehensive server load optimizations
  README.md
  SERVER_LOAD_OPTIMIZATION_PLAN.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/constants/error.constants.ts
  src/handlers/README.md
  src/handlers/error.handler.ts
  src/handlers/viewport.handler.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/viewport.types.ts
  tests/e2e/event-queue-overflow.spec.ts
  tests/unit/error-handler-memory.spec.ts
  tests/unit/handlers/click-handler.test.ts
  tests/unit/handlers/page-view-handler-throttle.test.ts
  tests/unit/handlers/viewport-handler.test.ts
  tests/unit/managers/event-manager-dynamic-flush.test.ts
  tests/unit/managers/event-manager-per-event-rate-limit.test.ts
  tests/unit/managers/event-manager-sampling.test.ts
  tests/unit/page-view.handler.spec.ts
Due: npm run fix, npx prettier --write

fix: remove unnecessary return statements in page view handler tests
  tests/unit/handlers/page-view-handler-throttle.test.ts
  tests/unit/page-view.handler.spec.ts
Due: none

docs: update documentation for TraceLog features and configuration options
  CLAUDE.md
  README.md
  SERVER_LOAD_OPTIMIZATION_PLAN.md
  docs/README.md
  docs/index.html
  docs/script.js
  src/handlers/README.md
  src/managers/README.md
Due: npx prettier --write

chore: add branch comparison command for pre-merge audits and enhance README documentation
  .claude/README.md
  .claude/commands/compare-branch.md
Due: npx prettier --write

chore: update package-lock.json
  package-lock.json
Due: npx prettier --write

chore: clean up CI workflow by removing node_modules before installing dependencies
  .github/workflows/ci.yml
Due: none

chore: update CI workflow to remove package-lock.json before installing dependencies
  .github/workflows/ci.yml
Due: none

chore: update package-lock.json with dependency version upgrades and removals
  package-lock.json
  tests/unit/session.handler.spec.ts
Due: npx prettier --write

chore: streamline CI workflow by using npm ci for dependency installation
  .github/workflows/ci.yml
  src/handlers/click.handler.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages f1f0dda7526a48ea764e28dc815a41af96f4667b
  tracelog.js
Due: none

chore: release v0.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: add validation for new configuration options
  .claude/README.md
  .claude/commands/compare-branch.md
  .claude/commands/fix.md
  .claude/commands/new-feature.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/utils/validations/config-validations.utils.ts
  tests/unit/config-validations.spec.ts
Due: npm run fix, npx prettier --write

test: enhance E2E tests for click events, scroll handling, and performance metrics
  tests/e2e/basic-click-events.spec.ts
  tests/e2e/basic-initialization.spec.ts
  tests/e2e/cross-tab-session-sync.spec.ts
  tests/e2e/dynamic-scroll-containers.spec.ts
  tests/e2e/user-data-integrity.spec.ts
  tests/e2e/utils/bridge.utils.ts
  tests/e2e/utils/index.ts
  tests/e2e/utils/test-constants.ts
  tests/integration/api-destroy.integration.test.ts
  tests/integration/api-emitters.integration.test.ts
  tests/integration/api-event.integration.test.ts
  tests/integration/basic-integration.test.ts
  tests/integration/browser-apis.test.ts
  tests/integration/performance-error-filters.integration.test.ts
  tests/integration/scroll-core-behavior.integration.test.ts
  tests/integration/simple-integration.test.ts
  tests/unit/config/primary-scroll-selector.test.ts
  tests/unit/handlers/performance-handler.test.ts
  tests/unit/handlers/scroll-handler-cache.test.ts
  tests/unit/handlers/scroll-handler-update-container-primary.test.ts
Due: none

refactor: simplify event handling and improve test coverage for session management and scroll behavior
  tests/e2e/basic-click-events.spec.ts
  tests/e2e/utils/bridge.utils.ts
  tests/integration/api-destroy.integration.test.ts
  tests/integration/api-emitters.integration.test.ts
  tests/integration/api-event.integration.test.ts
  tests/integration/api-init.integration.test.ts
  tests/integration/app-lifecycle.integration.test.ts
  tests/integration/performance-error-filters.integration.test.ts
  tests/integration/scroll-core-behavior.integration.test.ts
  tests/integration/session-start-deduplication.integration.test.ts
  tests/unit/config/primary-scroll-selector.test.ts
  tests/unit/handlers/performance-handler.test.ts
Due: none

docs: update README to clarify features, installation, and usage examples for TraceLog library
  README.md
Due: npx prettier --write

docs: enhance playground README
  docs/README.md
Due: npx prettier --write

refactor: add viewport mutation debounce constant and refactor page view handler to use default throttle
  docs/tracelog.js
  src/constants/config.constants.ts
  src/handlers/page-view.handler.ts
  src/handlers/viewport.handler.ts
  src/managers/event.manager.ts
  tests/unit/page-view.handler.spec.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 887c428361dccb68d21a0d48c9e9c82602fd1db3
  README.md
  index.html
  script.js
  tracelog.js
Due: npx prettier --write

chore: release v0.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: consolidate event types
  .claude/agents/clean-code-architect.md
  CLAUDE.md
  src/handlers/viewport.handler.ts
  src/types/event.types.ts
  src/types/index.ts
  src/types/scroll.types.ts
  src/types/viewport.types.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages e48e1deb1506ed1c4c4fd809e18366fc922d4933
  tracelog.js
Due: none

Path conditions:
  npm run fix: any of: src/**/*.ts
  npx prettier --write: (any of: scripts/**/*.js) or (any of: *.{json,md})
