Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["npm run fix"],
  "scripts/**/*.js": ["npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

feat: implement clock skew protection for timestamp generation
  src/managers/sender.manager.ts
  src/utils/data/uuid.utils.ts
  tests/unit/utils/uuid.test.ts
Due: npm run fix

fix: ensure lastEventTimestamp is always updated to reflect the current timestamp in UUID generation
  docs/tracelog.js
  src/utils/data/uuid.utils.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 88b8caec199686c6027dae8ec75689fb7a60ad4f
  tracelog.js
Due: none

chore: release v1.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: remove SESSION_END event handling and improve session management
  API_REFERENCE.md
  BEST_PRACTICES.md
  src/app.ts
  src/constants/config.constants.ts
  src/constants/storage.constants.ts
  src/handlers/README.md
  src/handlers/session.handler.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/managers/session.manager.ts
  src/types/event.types.ts
  src/types/index.ts
  src/types/queue.types.ts
  src/types/session.types.ts
  tests/helpers/assertions.helper.ts
  tests/helpers/fixtures.helper.ts
  tests/types/event-capture.types.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/managers/session-manager.test.ts
Due: npm run fix, npx prettier --write

refactor: enhance session management and request handling
  docs/tracelog.js
  src/constants/config.constants.ts
  src/managers/sender.manager.ts
  src/managers/session.manager.ts
Due: npm run fix

chore: update dependencies in package-lock.json
  package-lock.json
Due: npx prettier --write

refactor: remove SESSION_END event handling and enhance session lifecycle management
  README.md
  src/constants/config.constants.ts
  src/constants/storage.constants.ts
  src/handlers/README.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/managers/session.manager.ts
  tests/integration/flows/multi-tab-sync.test.ts
  tests/integration/flows/session-inference.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 05513e1ebc098bc3fedbc47a057290a5d54f7f82
  tracelog.js
Due: none

chore: release v2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: reset hasStartSession in global state during session teardown
  src/managers/session.manager.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 7a6da0df65e0851aef6df66f9d00041456e321a8
  tracelog.js
Due: none

chore: tracelog.js alignment
  docs/tracelog.js
Due: none

chore: release v2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: change event removal logic to require all integrations to succeed before removing events from the queue
  CHANGELOG.md
  src/managers/event.manager.ts
Due: npm run fix, npx prettier --write

refactor: update event removal logic to allow removal if any integration succeeds, improving resilience against failures
  src/managers/event.manager.ts
Due: npm run fix

refactor: enhance optimistic removal logic and update event logging for better clarity and resilience
  CLAUDE.md
  docs/tracelog.js
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages b247318141de58124dc464beb2ac48a33fa54ce2
  tracelog.js
Due: none

chore: release v2.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: restructure disabledEvents configuration for custom backend integration, ensuring events are captured locally while allowing selective exclusion from backend sends
  API_REFERENCE.md
  BEST_PRACTICES.md
  README.md
  SECURITY.md
  src/app.ts
  src/managers/README.md
  src/managers/sender.manager.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/TESTING_TROUBLESHOOTING.md
  tests/e2e/README.md
  tests/helpers/fixtures.helper.ts
  tests/integration/flows/disabled-events.test.ts
  tests/integration/flows/initialization.test.ts
  tests/unit/core/app.test.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/utils/validations/config-validations.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 404b17713889699988ab02ce4fdef7cc0ed6a5ac
  tracelog.js
Due: none

chore: release v2.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: improve device detection and enhance logging policy
  CLAUDE.md
  src/api.ts
  src/app.ts
  src/constants/app.constants.ts
  src/handlers/click.handler.ts
  src/handlers/error.handler.ts
  src/handlers/performance.handler.ts
  src/handlers/scroll.handler.ts
  src/handlers/session.handler.ts
  src/handlers/viewport.handler.ts
  src/listeners/activity-listener-manager.ts
  src/listeners/touch-listener-manager.ts
  src/listeners/visibility-listener-manager.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/managers/session.manager.ts
  src/managers/storage.manager.ts
  src/managers/time.manager.ts
  src/test-bridge.ts
  src/types/device.types.ts
  src/types/index.ts
  src/types/log.types.ts
  src/types/mode.types.ts
  src/types/queue.types.ts
  src/types/state.types.ts
  src/utils/browser/device-detector.utils.ts
  src/utils/browser/index.ts
  src/utils/browser/mode.utils.ts
  src/utils/browser/qa-mode.utils.ts
  src/utils/logging.utils.ts
  src/utils/transformer.utils.ts
  src/utils/validations/event-validations.utils.ts
  tests/helpers/fixtures.helper.ts
  tests/types/event-capture.types.ts
  tests/unit/handlers/viewport-handler.test.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/utils/browser/device-detector.test.ts
  tests/unit/utils/logging.test.ts
  tests/unit/utils/validations/event-validations.test.ts
Due: npm run fix, npx prettier --write

refactor: update logging visibility for QA mode and improve URL normalization error handling
  src/managers/event.manager.ts
  src/utils/browser/mode.utils.ts
  src/utils/network/url.utils.ts
  src/utils/security/sanitize.utils.ts
Due: npm run fix

feat: enhance logging and device detection capabilities, improve QA mode handling, and update URL normalization error reporting
  docs/tracelog.js
Due: none

refactor: update QA mode detection logic to avoid circular dependency with mode.utils.ts and ensure synchronization of changes
  src/utils/logging.utils.ts
Due: npm run fix

feat: add page_view event tracking and data preservation across event pipeline
  docs/tracelog.js
  src/managers/event.manager.ts
  tests/e2e/critical-paths/page-view-tracking.spec.ts
  tests/e2e/helpers/assertions.helper.ts
  tests/integration/flows/event-pipeline.test.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages a415059760a4d6e5f802fb651deb583fa276ab61
  tracelog.js
Due: none

chore: release v2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement external referrer detection to improve traffic source attribution
  src/managers/event.manager.ts
Due: npm run fix

feat: enhance domain comparison and referrer detection with new utility methods
  src/managers/event.manager.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix

test: add setup and teardown for document referrer and window location in external referrer detection tests
  tests/unit/managers/event-manager.test.ts
Due: none

fix: improve error handling in referrer parsing and add integration tests for SESSION_START referrer detection
  docs/tracelog.js
  src/managers/event.manager.ts
  tests/integration/flows/event-pipeline.test.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages fc77151f2f634bd72ca08b4b2dbc56c9e134ded9
  tracelog.js
Due: none

chore: release v2.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement session-level referrer and UTM parameter tracking for improved event attribution
  docs/tracelog.js
  src/managers/event.manager.ts
  src/managers/session.manager.ts
  src/types/state.types.ts
  src/utils/browser/index.ts
  src/utils/browser/referrer.utils.ts
  tests/integration/flows/event-pipeline.test.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/utils/referrer.utils.test.ts
Due: npm run fix

feat: add session renewal mode to handle timeouts and improve session management
  src/managers/README.md
  src/managers/session.manager.ts
  tests/unit/managers/session-manager.test.ts
  tsup.config.ts
Due: npm run fix, npx prettier --write

chore: update qs package to version 6.14.1 in package-lock.json
  package-lock.json
Due: npx prettier --write

feat: enhance session management with renewal mode and stale session detection
  docs/tracelog.js
Due: none

chore(demo): deploy updated demo to GitHub Pages c4aa4eb837f2ace07659d7ad27185c36d862d8b9
  tracelog.js
Due: none
