Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["npm run fix"],
  "scripts/**/*.js": ["npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

feat(pixel): add Shopify Custom Web Pixel snippet entry point
  src/pixel/custom-pixel-snippet.ts
  vite.pixel.config.mjs
Due: npm run fix

feat(tests): add unit tests for Shopify Custom Web Pixel snippet exports
  tests/unit/pixel/custom-pixel-snippet.test.ts
Due: none

chore: release v3.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: update lint patterns and documentation for Shopify Web Pixel integration
  .claude/hooks/lint-patterns.sh
  .claude/settings.json
  CLAUDE.md
  src/pixel/event-mapper.ts
  tests/unit/pixel/event-mapper.test.ts
Due: npm run fix, npx prettier --write

chore: remove unused PostCompact hook from settings
  .claude/hooks/mark-changes.sh
  .claude/hooks/quality-check.sh
  .claude/settings.json
Due: npx prettier --write

feat: enhance README and settings with new hooks for documentation checks and quality assurance
  .claude/README.md
  .claude/settings.json
  .claude/skills/review-pr
Due: npx prettier --write

feat: update lint-patterns script to load rules dynamically and improve error messaging
  .claude/hooks/lint-patterns.sh
Due: none

feat(vitals): emit one uncensored consolidated web-vitals event per navigation [TRA-279]
  API_REFERENCE.md
  BEST_PRACTICES.md
  docs/tracelog.js
  src/constants/performance.constants.ts
  src/handlers/README.md
  src/handlers/performance.handler.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/types/config.types.ts
  src/types/event.types.ts
  tests/e2e/critical-paths/web-vitals-consolidation.spec.ts
  tests/helpers/fixtures.helper.ts
  tests/unit/handlers/performance-handler.test.ts
  tests/unit/managers/event-manager-web-vitals.test.ts
Due: npm run fix, npx prettier --write

chore(deps): bump fast-uri to 3.1.4 to clear the CI audit gate [TRA-279]
  package-lock.json
Due: npx prettier --write

refactor: update Web Vitals handling and thresholds
  API_REFERENCE.md
  BEST_PRACTICES.md
  docs/tracelog.js
  src/constants/performance.constants.ts
  src/handlers/README.md
  src/handlers/performance.handler.ts
  src/types/event.types.ts
  tests/e2e/critical-paths/web-vitals-consolidation.spec.ts
  tests/unit/handlers/performance-handler.test.ts
  tests/unit/managers/event-manager-web-vitals.test.ts
Due: npm run fix, npx prettier --write

chore: update dependencies and improve error handling
  .eslintrc.cjs
  .npmignore
  docs/tracelog.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/app.ts
  src/handlers/click.handler.ts
  src/handlers/performance.handler.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/utils/network/url.utils.ts
  src/utils/security/sanitize.utils.ts
  tests/unit/handlers/error-handler.test.ts
  tests/unit/handlers/performance-handler.test.ts
  tests/unit/pixel/shopify-pixel.test.ts
Due: npm run fix, npx prettier --write

feat: ensure web vitals metrics are sorted by type in emitted events and update documentation
  API_REFERENCE.md
  docs/tracelog.js
  src/handlers/README.md
  src/handlers/performance.handler.ts
  tests/helpers/assertions.helper.ts
  tests/unit/handlers/performance-handler.test.ts
Due: npm run fix, npx prettier --write

test(vitals): replace no-op web-vitals suites with a real degradation case
  tests/unit/handlers/performance-handler.test.ts
Due: none

chore(demo): deploy updated demo to GitHub Pages ea2c2391d08fd2fa66bfbe99f3eb72d37d028e8c
  tracelog.js
Due: none

chore: release v3.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat(sender): emit a diagnostic beacon on unknown-project (404) ingest rejection [TRA-321]
  API_REFERENCE.md
  CLAUDE.md
  README.md
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

feat(sender): enhance health beacon logic for 403 and 404 errors with detailed diagnostics
  API_REFERENCE.md
  CLAUDE.md
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

feat(sender): enhance error handling for ingest rejections and update tests
  CLAUDE.md
  src/constants/error.constants.ts
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 8093eba32b6ee19f29293123c35214a7b5a50280
  tracelog.js
Due: none

chore: release v3.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

docs: add TypeScript build info files to .gitignore
  .gitignore
Due: none

docs(pixel): name the revenue path, not the work item that built it
  src/pixel/pixel-sender.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 5a267931022bce519786ed66fe28d0db565a825a
  tracelog.js
Due: none

feat(ingestion): propagate durable receipts
  src/managers/sender.manager.ts
  src/pixel/index.ts
  src/pixel/pixel-sender.ts
  src/pixel/shopify-pixel.ts
  src/types/error.types.ts
  src/types/index.ts
  src/types/ingestion-receipt.types.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/pixel/pixel-sender.test.ts
  tests/unit/types/ingestion-receipt.test.ts
Due: npm run fix

fix(ingestion): gate receipts behind TraceLog envelope proof
  src/managers/sender.manager.ts
  src/pixel/pixel-sender.ts
  src/types/ingestion-receipt.types.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/pixel/pixel-sender.test.ts
  tests/unit/types/ingestion-receipt.test.ts
Due: npm run fix

fix(pixel): hold pixel receipts to the same provenance rule
  src/managers/sender.manager.ts
  src/pixel/pixel-sender.ts
  src/types/ingestion-receipt.types.ts
  tests/unit/pixel/pixel-sender.test.ts
Due: npm run fix

fix(ingestion): align the receipt contract with the server vocabulary
  src/managers/sender.manager.ts
  src/types/ingestion-receipt.types.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/pixel/pixel-sender.test.ts
  tests/unit/types/ingestion-receipt.test.ts
Due: npm run fix

chore(deps): clear the high-severity advisories failing the security gate
  package-lock.json
Due: npx prettier --write

chore(deps): clear the newly published high-severity advisories
  package-lock.json
Due: npx prettier --write

feat(ingestion): add ingestion receipt handling and update API documentation
  API_REFERENCE.md
  src/managers/README.md
  src/managers/sender.manager.ts
  src/pixel/pixel-sender.ts
  src/types/index.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/pixel/pixel-sender.test.ts
  tests/unit/types/ingestion-receipt.test.ts
Due: npm run fix, npx prettier --write

feat(receipts): implement parseCollectReceipt for handling collect responses and update related logic
  API_REFERENCE.md
  src/managers/sender.manager.ts
  src/pixel/pixel-sender.ts
  src/types/ingestion-receipt.types.ts
  tests/unit/types/ingestion-receipt.test.ts
Due: npm run fix, npx prettier --write

feat(types): add 'project_capacity' to IngestionRejectionReason and update related tests
  API_REFERENCE.md
  src/types/ingestion-receipt.types.ts
  tests/unit/types/ingestion-receipt.test.ts
Due: npm run fix, npx prettier --write

fix(sender): clarify debug visibility in noteReceipt documentation
  src/managers/sender.manager.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 7fcda82e206159df665e31dc21b1c33b9215bfdc
  tracelog.js
Due: none

chore: release v3.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix(commit-msg): pass argument to commitlint for proper editing
  .husky/commit-msg
Due: none

fix(docs): update references from tracelog-shopify-app to tracelog-shopify-integration in documentation
  .claude/hooks/docs-mapping.json
  .claude/hooks/lint-patterns.sh
Due: npx prettier --write

chore: remove unused Claude hooks for documentation and quality checks
  .claude/hooks/check-docs.sh
  .claude/hooks/mark-changes.sh
  .claude/hooks/quality-check.sh
  .claude/settings.json
Due: npx prettier --write

chore(harness): drop symlinks to the retired monorepo-root harness
  .claude/agents/product-advisor.md
  .claude/agents/product-to-spec.md
  .claude/agents/tracelog-specialist.md
  .claude/skills/commit
  .claude/skills/control-tower
  .claude/skills/create-tasks
  .claude/skills/implement-task
  .claude/skills/review-fullstack
  .claude/skills/review-pr
  .claude/skills/review-staged
  .claude/skills/sync-types
  .claude/skills/work
Due: npx prettier --write
