Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

chore: release v2.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement network circuit breaker and cross-session recovery limits
  src/constants/config.constants.ts
  src/managers/README.md
  src/managers/sender.manager.ts
  src/types/queue.types.ts
  tests/integration/flows/recovery.test.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

fix: update persistEventsWithFailureCount to support throttling during recovery and adjust recovery test setup
  src/managers/sender.manager.ts
  tests/integration/flows/recovery.test.ts
Due: npm run fix

fix: enhance network circuit breaker logic to differentiate between network-level failures and HTTP errors, and update related tests
  src/managers/README.md
  src/managers/sender.manager.ts
  tests/helpers/mocks.helper.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages a68ba7ed15ac57b1301841db17f85d57b63f08ce
  tracelog.js
Due: none

chore: release v2.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: update EventManager to differentiate custom events based on metadata for deduplication
  src/managers/event.manager.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix

fix: ensure consistent deduplication of custom events by normalizing metadata key order
  src/managers/event.manager.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix

fix: update flatted package to version 3.4.2 for improved stability
  package-lock.json
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 94a75d11d7f63cd42623444dc6eacbaf5b24bcb5
  tracelog.js
Due: none

chore: release v2.6.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add identify and resetIdentity methods for user identity management
  AGENTS.md
  API_REFERENCE.md
  README.md
  src/api.ts
  src/app.ts
  src/constants/storage.constants.ts
  src/managers/event.manager.ts
  src/public-api.ts
  src/types/queue.types.ts
  src/types/state.types.ts
  src/types/test-bridge.types.ts
  tests/integration/flows/identity.test.ts
  tests/unit/core/app-identity.test.ts
  tests/unit/core/identity.test.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix, npx prettier --write

fix: rename identity to identify in payload and tests for consistency
  src/managers/event.manager.ts
  src/types/queue.types.ts
  tests/integration/flows/identity.test.ts
Due: npm run fix

fix: enhance identity validation and logging in identify method; update tests for batch payload identity inclusion
  AGENTS.md
  src/app.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix, npx prettier --write

fix: update picomatch and yaml packages to latest versions for improved stability
  package-lock.json
Due: npx prettier --write

fix: implement sanitizeTraits function to validate and clean user traits; update identify method to use sanitized traits
  src/api.ts
  src/app.ts
  src/utils/validations/type-guards.utils.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages b5377695122f456f477f4f806733d010d41787ec
  tracelog.js
Due: none

chore: release v2.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: update validation limits for metadata and custom events; increase size limits for better performance
  .github/instructions/utils.instructions.md
  API_REFERENCE.md
  README.md
  src/api.ts
  src/constants/config.constants.ts
Due: npm run fix, npx prettier --write

fix: update validation limits for metadata and custom events; reduce serialized size to 48KB for improved performance
  API_REFERENCE.md
  README.md
  src/api.ts
  src/constants/config.constants.ts
Due: npm run fix, npx prettier --write

fix: update metadata validation to check byte size of JSON string for custom events
  src/utils/validations/metadata-validations.utils.ts
Due: npm run fix

fix: update API documentation to reflect new nesting limits for global metadata and improve validation tests for byte size of unicode strings
  API_REFERENCE.md
  tests/unit/utils/validations/metadata-validations.test.ts
Due: npx prettier --write

chore: tracelog.js update
  docs/tracelog.js
Due: none

chore(demo): deploy updated demo to GitHub Pages b9d468d50e39d7a142cb475434030ba85f2df5b3
  tracelog.js
Due: none

chore: release v2.7.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add MAX_STACK_TRACE_LENGTH constant and implement stack trace handling in ErrorHandler
  src/constants/error.constants.ts
  src/handlers/error.handler.ts
  src/types/event.types.ts
  tests/unit/handlers/error-handler.test.ts
Due: npm run fix

chore: demo update
  docs/tracelog.js
Due: none

feat: enhance PII sanitization in stack traces and update error message handling
  src/constants/error.constants.ts
  src/handlers/error.handler.ts
  tests/unit/handlers/error-handler.test.ts
Due: npm run fix

fix: initialize globalState with default config and reset config on state reset
  src/handlers/error.handler.ts
  src/managers/state.manager.ts
Due: npm run fix

fix: update comment for sensitive URL query parameters in PII_PATTERNS
  .claude/agents/clean-code-architect.md
  docs/tracelog.js
  src/constants/error.constants.ts
Due: npm run fix, npx prettier --write

fix: update README to correct gzipped size of the library
  README.md
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 211e8c33e94bf25f7968ad2f79193d85774979bf
  tracelog.js
Due: none

chore: release v2.7.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: update error handling for rate limit (429) to skip retries and persist events for periodic backoff
  API_REFERENCE.md
  CLAUDE.md
  README.md
  src/managers/README.md
  src/managers/sender.manager.ts
  src/types/error.types.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

chore: tracelog js
  docs/tracelog.js
Due: none

fix: clarify rate limit error handling and idempotency requirements in documentation
  README.md
  src/managers/sender.manager.ts
  src/types/error.types.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages ac871da15208c3a4c0067a19de87ab563cdc7509
  tracelog.js
Due: none

chore: release v2.7.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add ShopifyCartLinker integration for session ID tracking in Shopify carts
  docs/tracelog.js
  src/app.ts
  src/ecommerce/README.md
  src/ecommerce/index.ts
  src/ecommerce/shopify-cart-linker.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/integration/flows/shopify-cart-linker.test.ts
  tests/unit/ecommerce/shopify-cart-linker.test.ts
Due: npm run fix, npx prettier --write

fix: improve visibility listener management and reset lastSyncedSessionId on fetch failure
  docs/tracelog.js
  src/ecommerce/shopify-cart-linker.ts
  tests/unit/ecommerce/shopify-cart-linker.test.ts
Due: npm run fix

Path conditions:
  npm run fix: any of: src/**/*.ts
  npx prettier --write: (any of: scripts/**/*.js) or (any of: *.{json,md})
