Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["npm run fix"],
  "scripts/**/*.js": ["npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

chore: release v2.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add support for custom HTTP headers in requests to custom backends
  API_REFERENCE.md
  CLAUDE.md
  README.md
  src/api.ts
  src/app.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/public-api.ts
  src/types/config.types.ts
  src/types/test-bridge.types.ts
  src/types/transformer.types.ts
  tests/integration/flows/custom-headers.test.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

chore: release v2.1.2 with support for custom HTTP headers in requests to custom backends
  CHANGELOG.md
  docs/tracelog.js
  scripts/generate-changelog.js
  scripts/release.js
Due: npx prettier --write

chore: add .gitattributes to exclude auto-generated files from GitHub Copilot reviews
  .gitattributes
Due: none

fix: correct placement of Content-Type header in SenderManager
  src/managers/sender.manager.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 3377ee4c8386d25411f72f21f1003a3f24b60a24
  tracelog.js
Due: none

chore: release v2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: enhance metadata handling with increased nesting depth and improved sanitization
  API_REFERENCE.md
  docs/tracelog.js
  src/app.constants.ts
  src/constants/config.constants.ts
  src/utils/security/sanitize.utils.ts
  src/utils/validations/type-guards.utils.ts
  tests/unit/utils/security/sanitize.test.ts
  tests/unit/utils/validations/metadata-validations.test.ts
  tests/unit/utils/validations/type-guards.test.ts
Due: npm run fix, npx prettier --write

feat: enhance JSON-serializability checks with circular reference detection and add related tests
  docs/tracelog.js
  src/utils/validations/type-guards.utils.ts
  tests/unit/utils/security/sanitize.test.ts
  tests/unit/utils/validations/type-guards.test.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages b5c85274cb10ca2b7592545247c3d6d331f90a9b
  tracelog.js
Due: none

chore: release v2.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: update init method to return sessionId and add getSessionId method for session tracking
  API_REFERENCE.md
  CLAUDE.md
  README.md
  src/api.ts
  src/app.ts
  src/public-api.ts
  src/test-bridge.ts
  src/types/common.types.ts
  src/types/test-bridge.types.ts
  tests/unit/core/api.test.ts
Due: npm run fix, npx prettier --write

chore: e2e js
  docs/tracelog.js
Due: none

docs: document event listeners behavior and provide examples for original event handling
  API_REFERENCE.md
  CLAUDE.md
  README.md
Due: npx prettier --write

refactor: remove redundant sanitization logic from sanitizeString function
  src/utils/security/sanitize.utils.ts
Due: npm run fix

fix: update sessionId return value to use nullish coalescing for better handling of undefined
  src/app.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 3bf4f6e1ec122322ecd395a46bcc3f8c4f9d0b23
  tracelog.js
Due: none

chore: release v2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: prevent concurrent event sending by adding sendInProgress flag
  docs/tracelog.js
  src/managers/event.manager.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages c3ef301149508cb687802da0a70ccb38c5444fdd
  tracelog.js
Due: none

chore: release v2.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement new agent team creation process and enhance event handling with validation
  .claude/commands/research-team.md
  .claude/hooks/mark-changes.sh
  .claude/hooks/post-edit-tests.sh
  .claude/hooks/pre-edit-validation.sh
  .claude/hooks/prompt-validator.sh
  .claude/hooks/quality-check.sh
  .claude/hooks/session-start.sh
  .claude/settings.json
  API_REFERENCE.md
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/managers/event.manager.ts
  src/types/common.types.ts
  tests/unit/core/api.test.ts
  tests/unit/core/app.test.ts
  tests/unit/managers/event-manager.test.ts
  tsup.config.ts
Due: npm run fix, npx prettier --write

feat: implement exponential backoff for event sending with failure tracking
  docs/tracelog.js
  src/constants/config.constants.ts
  src/managers/event.manager.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix

feat: add sendIntervalMs configuration with validation and backoff logic
  docs/tracelog.js
  src/constants/config.constants.ts
  src/managers/event.manager.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/utils/validations/config-validations.test.ts
Due: npm run fix

fix: update sendIntervalMs validation to reject NaN and Infinity; rename sendIntervalId to sendTimeoutId
  docs/tracelog.js
  src/managers/event.manager.ts
  src/utils/validations/config-validations.utils.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/utils/validations/config-validations.test.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages e9c60b55440af93ed656cef2930643023bb5c546
  tracelog.js
Due: none

chore: release v2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add fetchCredentials configuration with validation and update related components
  docs/tracelog.js
  src/app.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/utils/validations/config-validations.test.ts
Due: npm run fix

docs: add fetchCredentials support to custom integrations and update related documentation
  .claude/agents/feature-orchestrator.md
  .github/copilot-instructions.md
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  SECURITY.md
  src/managers/README.md
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages ecc216205603fd69ff38dd71e837e96a5b5befce
  tracelog.js
Due: none

chore: release v2.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement TimeoutError handling in SenderManager and EventManager; update related tests
  docs/tracelog.js
  src/constants/config.constants.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/error.types.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

fix: handle PermanentError in SenderManager to ensure proper error propagation
  src/managers/sender.manager.ts
Due: npm run fix

chore: update dependencies in package-lock.json
  package-lock.json
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages e41cca8186eb04484ed4bf61da2a5f7ec33eabcf
  tracelog.js
Due: none

chore: release v2.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement session preservation for external redirects and add related tests
  src/api.ts
  src/app.ts
  src/constants/config.constants.ts
  src/constants/storage.constants.ts
  src/handlers/session.handler.ts
  src/managers/session.manager.ts
  src/public-api.ts
  tests/integration/flows/session-handoff.test.ts
  tests/unit/handlers/session-handler.test.ts
  tests/unit/managers/session-manager.test.ts
Due: npm run fix

feat: add session handoff functionality to preserve session ID during external redirects
  CLAUDE.md
  README.md
  src/handlers/README.md
  src/managers/README.md
  src/managers/session.manager.ts
Due: npm run fix, npx prettier --write

refactor: remove session preservation logic and implement session mirroring
  .commitlintrc.json
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/constants/config.constants.ts
  src/constants/storage.constants.ts
  src/handlers/README.md
  src/handlers/session.handler.ts
  src/managers/README.md
  src/managers/session.manager.ts
  src/public-api.ts
  tests/integration/flows/session-mirror.test.ts
  tests/unit/core/app.test.ts
  tests/unit/handlers/session-handler.test.ts
  tests/unit/managers/session-manager.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages c070549070a019b4813a75a104770b9b0219b9ae
  tracelog.js
Due: none
