Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

refactor: update README and agent documentation for clarity; enhance test-implementer agent functionality to generate test skeletons when missing, and improve command descriptions for better usability
  .claude/README.md
  .claude/agents/feature-orchestrator.md
  .claude/agents/test-implementer.md
  .claude/commands/implement-tests.md
  .claude/commands/perf.md
  .cursor/rules/context.mdc
  .cursor/rules/test-implementer.mdc
  tests/AGENTS_GUIDE.md
  tests/README.md
  tests/TESTING_FUNDAMENTALS.md
  tests/e2e/critical-paths/click-tracking.spec.ts
  tests/helpers/fixtures.helper.ts
  tests/unit/managers/consent-manager.test.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/managers/storage-manager.test.ts
  tests/unit/managers/user-manager.test.ts
Due: npx prettier --write

test: all unit tests pass
  tests/e2e/critical-paths/custom-events.spec.ts
  tests/e2e/critical-paths/error-capture.spec.ts
  tests/e2e/critical-paths/initialization.spec.ts
  tests/e2e/critical-paths/page-view-tracking.spec.ts
  tests/e2e/critical-paths/scroll-tracking.spec.ts
  tests/helpers/assertions.helper.ts
  tests/helpers/state.helper.ts
  tests/integration/flows/consent-flow.test.ts
  tests/integration/flows/event-pipeline.test.ts
  tests/integration/flows/initialization.test.ts
  tests/integration/flows/multi-integration.test.ts
  tests/integration/flows/multi-tab-sync.test.ts
  tests/integration/flows/recovery.test.ts
  tests/unit/handlers/click-handler.test.ts
  tests/unit/handlers/error-handler.test.ts
  tests/unit/handlers/pageview-handler.test.ts
  tests/unit/handlers/performance-handler.test.ts
  tests/unit/handlers/scroll-handler.test.ts
  tests/unit/handlers/session-handler.test.ts
  tests/unit/managers/sender-manager.test.ts
Due: none

test: add comprehensive integration tests for consent flow, event pipeline, and multi-integration scenarios
  .claude/agents/test-implementer.md
  .cursor/rules/test-implementer.mdc
  docs/tracelog.js
  src/test-bridge.ts
  src/types/test-bridge.types.ts
  test_debug.js
  tests/TESTING_FUNDAMENTALS.md
  tests/e2e/critical-paths/click-tracking.spec.ts
  tests/e2e/critical-paths/custom-events.spec.ts
  tests/e2e/critical-paths/error-capture.spec.ts
  tests/e2e/critical-paths/initialization.spec.ts
  tests/e2e/critical-paths/page-view-tracking.spec.ts
  tests/e2e/critical-paths/scroll-tracking.spec.ts
  tests/helpers/mocks.helper.ts
  tests/helpers/state.helper.ts
  tests/integration/flows/consent-flow.test.ts
  tests/integration/flows/event-pipeline.test.ts
  tests/integration/flows/initialization.test.ts
  tests/integration/flows/multi-integration.test.ts
  tests/integration/flows/multi-tab-sync.test.ts
  tests/integration/flows/recovery.test.ts
  tests/unit/core/api.test.ts
  tests/unit/core/app.test.ts
  tests/unit/core/state-manager.test.ts
  tests/unit/handlers/click-handler.test.ts
  tests/unit/handlers/error-handler.test.ts
  tests/unit/handlers/pageview-handler.test.ts
  tests/unit/handlers/performance-handler.test.ts
  tests/unit/handlers/scroll-handler.test.ts
  tests/unit/handlers/session-handler.test.ts
  tests/unit/managers/consent-manager.test.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/managers/session-manager.test.ts
  tests/unit/managers/storage-manager.test.ts
  tests/unit/managers/user-manager.test.ts
Due: npm run fix, npx prettier --write

test: unit and integration pass
  package.json
  src/managers/sender.manager.ts
  tests/helpers/mocks.helper.ts
  tests/helpers/setup.helper.ts
  tests/helpers/state.helper.ts
  tests/integration/flows/recovery.test.ts
  tests/setup.ts
  vitest.integration.config.mjs
Due: npm run fix, npx prettier --write

test: update coverage thresholds and add new unit tests for viewport and activity listener managers; enhance testing documentation for consistency and clarity
  CLAUDE.md
  tests/TESTING_FUNDAMENTALS.md
  tests/unit/handlers/viewport-handler.test.ts
  tests/unit/listeners/activity-listener-manager.test.ts
  tests/unit/listeners/input-listener-managers.test.ts
  tests/unit/listeners/touch-listener-manager.test.ts
  tests/unit/listeners/unload-listener-manager.test.ts
  tests/unit/listeners/visibility-listener-manager.test.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/utils/consent.test.ts
  tests/unit/utils/validations/config-validations.test.ts
  tests/unit/utils/validations/event-validations.test.ts
  tests/unit/utils/validations/metadata-validations.test.ts
  tests/unit/utils/validations/type-guards.test.ts
Due: npx prettier --write

docs: update testing documentation to include comprehensive E2E testing strategies with Playwright, detailing test isolation patterns, CSP-safe waiting strategies, and a complete test template
  .claude/agents/test-implementer.md
  tests/TESTING_FUNDAMENTALS.md
  tests/TESTING_GUIDE.md
  tests/e2e/README.md
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 0b8c8fd176b381f93e469188f755c91ca9886d70
  README.md
  tracelog.js
Due: npx prettier --write

chore: release v1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add global metadata management methods to API
  API_REFERENCE.md
  README.md
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/public-api.ts
  src/test-bridge.ts
  src/types/test-bridge.types.ts
  test_debug.js
  tests/integration/metadata-updates.test.ts
  tests/unit/core/api.test.ts
Due: npm run fix, npx prettier --write

fix: correct metadata validation key and update getState method documentation for clarity
  src/app.ts
  src/test-bridge.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 0069972b88c30f2472b60d5b4303a0d746859223
  tracelog.js
Due: none

chore: release v1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: enhance Google Consent Mode integration with dynamic category management
  API_REFERENCE.md
  BEST_PRACTICES.md
  README.md
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/integrations/google-analytics.integration.ts
  src/managers/consent.manager.ts
  src/test-bridge.ts
  src/types/consent.types.ts
  src/types/test-bridge.types.ts
  src/utils/validations/google-consent.utils.ts
  src/utils/validations/index.ts
  tests/integration/consent-category-persistence.test.ts
  tests/integration/google-consent-categories.test.ts
  tests/unit/utils/logging.test.ts
  tests/unit/utils/validations/google-consent.test.ts
Due: npm run fix, npx prettier --write

refactor: improve Google Consent handling and logging utilities
  src/test-bridge.ts
  src/utils/logging.utils.ts
  tests/integration/google-consent-categories.test.ts
  tests/unit/utils/logging.test.ts
  tests/unit/utils/validations/google-consent.test.ts
Due: npm run fix

fix: refine error message sanitization in logging utility and clean up test cases for consent handling
  src/utils/logging.utils.ts
  tests/integration/consent-category-persistence.test.ts
  tests/integration/google-consent-categories.test.ts
Due: npm run fix

feat: implement per-integration consent management allowing granular control over event buffering based on consent requirements
  API_REFERENCE.md
  BEST_PRACTICES.md
  README.md
  src/app.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/helpers/fixtures.helper.ts
  tests/integration/flows/consent-flow.test.ts
  tests/integration/flows/initialization.test.ts
  tests/integration/google-consent-categories.test.ts
  tests/unit/consent/per-integration-consent.test.ts
  tests/unit/managers/event-manager.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages a25c765ce0173c4ce62f392e0fd4d647cf2a5385
  tracelog.js
Due: none

chore: release v1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: remove input listener managers and related tests, update event listener manager interface
  src/listeners/README.md
  src/listeners/index.ts
  src/listeners/input-listener-managers.ts
  src/listeners/listeners.types.ts
  src/listeners/unload-listener-manager.ts
  tests/helpers/bridge.helper.ts
  tests/helpers/fixtures.helper.ts
  tests/helpers/state.helper.ts
  tests/unit/core/app.test.ts
  tests/unit/handlers/click-handler.test.ts
  tests/unit/handlers/pageview-handler.test.ts
  tests/unit/listeners/input-listener-managers.test.ts
  tests/unit/listeners/unload-listener-manager.test.ts
  tests/utils/test-setup.ts
Due: npm run fix, npx prettier --write

fix: update SenderManager instantiation to include an empty options object for SaaS and custom backends
  src/managers/sender.manager.ts
Due: npm run fix

refactor: remove Google Analytics integration references and update documentation for consent management
  .claude/README.md
  .claude/agents/feature-orchestrator.md
  .claude/agents/security-privacy-advisor.md
  .claude/commands/security-audit.md
  .cursor/rules/context.mdc
  .github/copilot-instructions.md
  .github/instructions/integrations.instructions.md
  README.md
  docs/README.md
  src/constants/config.constants.ts
  src/managers/README.md
  src/utils/emitter.utils.ts
  tests/TESTING_GUIDE.md
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 375161c3b1587f77784afc0e8c28585c1cef1882
  README.md
  tracelog.js
Due: npx prettier --write

chore: release v1.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: update SessionManager to use pagehide event for session end handling and enhance documentation
  docs/tracelog.js
  src/managers/README.md
  src/managers/session.manager.ts
  tests/unit/managers/session-manager.test.ts
Due: npm run fix, npx prettier --write

refactor: enhance page unload handling documentation and tests for SessionManager to clarify BFCache behavior
  src/managers/README.md
  src/managers/session.manager.ts
  tests/unit/managers/session-manager.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages b251b6071e956a8b0806fc793c76063eb0d7b747
  tracelog.js
Due: none

chore: release v1.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement session event counts tracking and persistence
  docs/tracelog.js
  src/constants/storage.constants.ts
  src/handlers/performance.handler.ts
  src/managers/event.manager.ts
  src/managers/session.manager.ts
  src/types/event.types.ts
Due: npm run fix

fix: enhance session management with localStorage checks
  src/managers/event.manager.ts
  src/managers/session.manager.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages f12e2fb6f531c1d0a7ea6d6cd243a707e4df800d
  tracelog.js
Due: none

chore: release v1.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: respect manual version type selection in GitHub workflow
  .github/workflows/release.yml
Due: none

feat: enhance event tracking and management with new TimeManager and idempotency features
  BEST_PRACTICES.md
  CLAUDE.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/constants/index.ts
  src/constants/version.constants.ts
  src/handlers/scroll.handler.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/managers/time.manager.ts
  src/types/queue.types.ts
  src/utils/data/uuid.utils.ts
  tests/integration/flows/event-pipeline.test.ts
  tests/unit/managers/time-manager.test.ts
  tests/unit/utils/uuid.test.ts
Due: npm run fix, npx prettier --write

test: update clock skew assertion in TimeManager tests for improved accuracy
  tests/unit/managers/time-manager.test.ts
Due: none

refactor: update idempotency token generation and improve TimeManager SSR safety
  src/managers/sender.manager.ts
  src/managers/time.manager.ts
  src/types/queue.types.ts
Due: npm run fix

refactor: extend TimeManager to inherit from StateManager for improved state management
  src/managers/time.manager.ts
Due: npm run fix

test: adjust timestamp assertions in EventManager tests for improved accuracy
  tests/unit/managers/event-manager.test.ts
Due: none

chore(demo): deploy updated demo to GitHub Pages c70c0a747623ab40877d8ca7f0a60246c31d7272
  tracelog.js
Due: none

chore: release v1.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

Path conditions:
  npm run fix: any of: src/**/*.ts
  npx prettier --write: (any of: scripts/**/*.js) or (any of: *.{json,md})
