Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["npm run fix"],
  "scripts/**/*.js": ["npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

chore: update package-lock.json to version 0.6.2
  package-lock.json
Due: npx prettier --write

chore: automate package-lock.json updates in release script
  scripts/release.js
Due: npx prettier --write

chore: release v0.6.3
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore: add tag types and conditions for tagging system
  src/types/index.ts
  src/types/tag.types.ts
Due: npm run fix

chore(demo): update docs tracelog.js build [skip ci]
  docs/tracelog.js
Due: none

fix: prevent tag pointing to wrong commit in release workflow
  .github/workflows/release.yml
  scripts/release.js
Due: npx prettier --write

chore: bump version to 0.6.5 and update changelog
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: guarantee version synchronization across all release channels
  .github/workflows/release.yml
  scripts/release.js
Due: npx prettier --write

chore: release v0.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: eliminate duplicate pages-build-deployment executions
  .github/workflows/deploy-demo.yml
Due: none

refactor: remove unused tag types and conditions
  src/types/tag.types.ts
Due: npm run fix

refactor: remove export of unused tag types from index
  src/types/index.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages f20594c92d59592b4ba70eef331ca186cc324f8d
  .nojekyll
  README.md
  index.html
  script.js
  style.css
  tracelog.js
Due: npx prettier --write

chore: release v0.7.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

chore: release v0.7.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

chore: add repository, homepage, and bugs information to package.json
  package.json
Due: npx prettier --write

refactor: improve event queue management and status updates
  docs/script.js
Due: none

chore(demo): deploy updated demo to GitHub Pages 84e4f2cd2d15177f43336851f9cffb94f227cd5c
  script.js
Due: none

chore: release v0.7.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: implement permanent error handling and retry logic
  README.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/managers/sender.manager.ts
  src/types/error.types.ts
  src/types/index.ts
  tests/e2e/permanent-errors.spec.ts
  tests/unit/managers/sender-permanent-errors.test.ts
  tests/unit/types/permanent-error.test.ts
Due: npm run fix, npx prettier --write

feat: add permanent error logging throttle to SenderManager
  src/constants/error.constants.ts
  src/managers/sender.manager.ts
  tests/unit/managers/sender-permanent-errors-throttle.test.ts
Due: npm run fix

docs: update README with new event data fields and descriptions
  README.md
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages e1ec4a6d2f86f4bdeb76b199418ae101758794fa
  tracelog.js
Due: none

chore: release v0.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: enhance event handling and validation
  .gitignore
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/managers/sender.manager.ts
  src/types/common.types.ts
  src/utils/validations/type-guards.utils.ts
  tests/integration/api-event.integration.test.ts
  tests/unit/managers/event-manager-sampling.test.ts
  tests/unit/managers/sender-hybrid-strategy.test.ts
  tests/unit/managers/sender-manager-edge-cases.test.ts
  tests/unit/sender-retry-race-condition.spec.ts
  tests/unit/utils/event-validations.test.ts
  tests/unit/utils/metadata-validations.test.ts
  tests/unit/utils/type-guards.test.ts
  tests/utils/test-setup.ts
  vitest.config.mjs
Due: npm run fix, npx prettier --write

refactor: make endSession and stopTracking synchronous to improve session handling
  docs/tracelog.js
  src/handlers/session.handler.ts
  src/managers/session.manager.ts
  tests/unit/managers/session-beforeunload-sync.test.ts
  tests/unit/session.handler.spec.ts
Due: npm run fix

fix: add error handling for session end broadcast and update scroll handler configuration to include session timeout
  docs/tracelog.js
  tests/unit/handlers/error-handler.test.ts
  tests/unit/handlers/scroll-handler-retry.test.ts
  tests/unit/utils/uuid.test.ts
  tests/utils/test-setup.ts
Due: none

fix: change setupTestState to synchronous calls in integration and unit tests
  tests/integration/event-flow.spec.ts
  tests/integration/session-lifecycle.spec.ts
  tests/unit/api.spec.ts
  tests/unit/error.handler.spec.ts
  tests/unit/event.manager.spec.ts
  tests/unit/session.manager.spec.ts
  tests/utils/test-setup.ts
Due: none

chore: update CI test command to use thread pooling for improved performance
  package.json
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 29888ad9abe3b70ea89d3d500bf409e13f0591d2
  tracelog.js
Due: none

chore: release v0.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: enhance ESLint rules and TypeScript configuration for improved code quality and safety
  .eslintrc.cjs
  src/handlers/scroll.handler.ts
  src/integrations/google-analytics.integration.ts
  src/managers/sender.manager.ts
  src/managers/session.manager.ts
  src/managers/storage.manager.ts
  src/utils/emitter.utils.ts
  tests/e2e/destroy-lifecycle.spec.ts
  tests/e2e/event-queue-overflow.spec.ts
  tests/e2e/user-session-flow.spec.ts
  tests/hooks/global-setup.ts
  tests/integration/api-destroy.integration.test.ts
  tests/integration/api-emitters.integration.test.ts
  tests/integration/api-event.integration.test.ts
  tests/integration/app-lifecycle.integration.test.ts
  tests/integration/basic-integration.test.ts
  tests/integration/event-flow.spec.ts
  tests/integration/scroll-container-retry.integration.test.ts
  tests/setup/integration.setup.ts
  tests/unit/api.spec.ts
  tests/unit/config-validations.spec.ts
  tests/unit/error.handler.spec.ts
  tests/unit/google-analytics.spec.ts
  tests/unit/handlers/scroll-handler-retry.test.ts
  tests/unit/managers/sender-hybrid-strategy.test.ts
  tests/unit/managers/sender-manager-edge-cases.test.ts
  tests/unit/managers/session-beforeunload-sync.test.ts
  tests/unit/page-view.handler.spec.ts
  tests/unit/performance.handler.spec.ts
  tests/unit/session.handler.spec.ts
  tests/unit/session.manager.spec.ts
  tests/unit/storage.manager.spec.ts
  tests/unit/utils/emitter.spec.ts
  tests/unit/utils/metadata-validations.test.ts
  tests/unit/utils/uuid.test.ts
  tsconfig.json
Due: npm run fix, npx prettier --write

refactor: introduce new constants for custom event validation limits
  src/app.constants.ts
  src/constants/config.constants.ts
  src/utils/security/sanitize.utils.ts
  src/utils/validations/metadata-validations.utils.ts
  src/utils/validations/type-guards.utils.ts
Due: npm run fix

chore: streamline ESLint rules and TypeScript configuration for better clarity and consistency
  .eslintrc.cjs
  tsconfig.json
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages d96eeae889dc0b691dc4b321476d21af86614b3f
  tracelog.js
Due: none

chore: release v0.8.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: remove backend custom event validation constants for clarity
  src/app.constants.ts
  src/constants/config.constants.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages d805545c214fa6f550857c845cb359a3a5fe7275
  tracelog.js
Due: none
