Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

fix: enhance error handling for Shopify cart attribute updates and reset lastSyncedSessionId on non-OK responses
  src/ecommerce/shopify-cart-linker.ts
  tests/unit/ecommerce/shopify-cart-linker.test.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 3b710454debcf63d672eedfa7b50fe6e5a93d748
  tracelog.js
Due: none

chore: release v2.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add compact-context script and update settings for session hooks
  .claude/hooks/compact-context.sh
  .claude/settings.json
Due: npx prettier --write

fix: update error handling and metadata management in SenderManager for improved event persistence
  docs/tracelog.js
  src/managers/sender.manager.ts
  src/types/queue.types.ts
  tests/unit/managers/sender-manager.test.ts
  tests/unit/managers/session-manager.test.ts
Due: npm run fix

feat: add critical ingestion gate tests and enhance event handling in SenderManager for idempotency
  .github/workflows/ci.yml
  package.json
  playwright.config.ts
  tests/e2e/critical-paths/ingestion-pipeline.spec.ts
  tests/e2e/helpers/ingestion-stack.helper.ts
  tests/unit/managers/sender-manager.test.ts
Due: npx prettier --write

fix: remove unused request ID capture function and related assertions in ingestion pipeline tests
  tests/e2e/critical-paths/ingestion-pipeline.spec.ts
  tests/e2e/helpers/ingestion-stack.helper.ts
Due: none

fix: update CI workflow to include 'develop' branch and enhance SenderManager event persistence logic
  .github/workflows/ci.yml
  docs/tracelog.js
  src/managers/sender.manager.ts
  tests/e2e/helpers/ingestion-stack.helper.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

fix: update brace-expansion package versions for improved compatibility
  package-lock.json
Due: npx prettier --write

fix: update import path for INGESTION_TEST_ORIGIN in ingestion pipeline tests
  testing/ingestion/fixtures.ts
  tests/e2e/critical-paths/ingestion-pipeline.spec.ts
Due: none

fix: add checks for ingestion stack existence in E2E tests
  tests/e2e/critical-paths/ingestion-pipeline.spec.ts
Due: none

fix: specify chromium when installing Playwright browsers in CI workflow
  .github/workflows/ci.yml
Due: none

fix: update SenderManager documentation for event persistence and modify ingestion test client version to use LIB_VERSION
  .npmignore
  src/managers/sender.manager.ts
  testing/ingestion/fixtures.ts
Due: npm run fix

fix: enhance documentation for event persistence and idempotency in analytics processes
  CLAUDE.md
  src/managers/README.md
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 817e0a9fc2f9ef7ec162cc7b1edbbd9471fb4be2
  tracelog.js
Due: none

chore: release v2.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: implement event persistence for recovery during sync flush when async send is in progress
  docs/tracelog.js
  src/managers/README.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

fix: clarify documentation for event persistence in SenderManager to explain idempotency token handling
  docs/tracelog.js
  src/managers/sender.manager.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages dc0d38a0c6b195f89e999fd105a9499819fb0fd4
  tracelog.js
Due: none

chore: release v2.8.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

chore: cluade code improves
  .claude/README.md
  .claude/agents/clean-code-architect.md
  .claude/agents/feature-orchestrator.md
  .claude/agents/memory-leak-detector.md
  .claude/agents/security-privacy-advisor.md
  .claude/agents/test-guardian.md
  .claude/agents/test-implementer.md
  .claude/agents/type-safety-enforcer.md
  .claude/commands/implement-tests.md
  .claude/commands/new-feature.md
Due: npx prettier --write

chore: cluade code improves
  .claude/skills/review-fullstack
  .claude/skills/review-staged
  .claude/skills/shared
  .claude/skills/sync-types
Due: none

fix: implement deterministic idempotency token generation in SenderManager to improve retry handling
  docs/tracelog.js
  src/managers/sender.manager.ts
  src/types/queue.types.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

fix: enhance idempotency token generation in SenderManager by salting with user_id and session_id
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

chore: tracelog.js
  docs/tracelog.js
Due: none

chore(demo): deploy updated demo to GitHub Pages 3698e6a58d4199be5795944321c4d877923a2d94
  tracelog.js
Due: none

chore: release v2.8.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

chore: claude code skills
  .claude/skills/create-tasks
  .claude/skills/implement-task
  .claude/skills/post-deploy-check
Due: none

fix: implement rate-limit cooldown handling in SenderManager to respect server 429 responses
  src/constants/config.constants.ts
  src/constants/storage.constants.ts
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

fix: enhance rate-limit handling in SenderManager to respect cooldowns across tabs and preserve recoveryFailures during event persistence
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

fix: enhance rate-limit handling in SenderManager to support multi-tab cooldowns and improve persistence logic
  API_REFERENCE.md
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/constants/config.constants.ts
  src/constants/storage.constants.ts
  src/managers/README.md
  src/managers/sender.manager.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix, npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 1d1a9ef93a4ae91607ca2fec440d08a97193cbb0
  tracelog.js
Due: none

chore: release v2.8.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

chore: claude code skills
  .claude/skills/docs-audit
Due: none

chore: claude code skills
  .claude/skills/product-audit
Due: none

chore: claude code config
  .claude/agents/product-advisor.md
  .claude/agents/product-to-spec.md
  .claude/agents/tracelog-specialist.md
Due: npx prettier --write

feat: enhance error handling and logging in SenderManager and PermanentError classes
  docs/tracelog.js
  src/constants/error.constants.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/error.types.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

fix: update error handling in SenderManager to improve logging and response code extraction
  docs/tracelog.js
Due: none

refactor: streamline event persistence logic in SenderManager and update related tests
  docs/tracelog.js
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  tests/unit/managers/event-manager.test.ts
  tests/unit/managers/sender-manager.test.ts
Due: npm run fix

Path conditions:
  npm run fix: any of: src/**/*.ts
  npx prettier --write: (any of: scripts/**/*.js) or (any of: *.{json,md})
