Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["npm run fix"],
  "scripts/**/*.js": ["npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

chore: release v0.12.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: streamline event handling and enhance metadata processing for custom events
  docs/tracelog.js
  src/app.ts
  tests/e2e/basic-custom-events.spec.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages c77d1347ab4fa8a78f943b848c91c661d5aa14d9
  tracelog.js
Due: none

chore: release v0.12.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add support for disabling specific auto-tracked events to enhance performance and privacy
  .claude/agents/test-guardian.md
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  docs/tracelog.js
  src/app.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/TESTING_GUIDE.md
  tests/e2e/disabled-events.spec.ts
  tests/e2e/utils/environment.utils.ts
  tests/unit/config-validations.spec.ts
Due: npm run fix, npx prettier --write

fix: standardize event type casing in disabled events tests for consistency
  tests/e2e/disabled-events.spec.ts
Due: none

refactor: standardize event type casing in documentation and constants for consistency
  README.md
  src/constants/disabled-events.constants.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/e2e/utils/environment.utils.ts
Due: npm run fix, npx prettier --write

refactor: add error and disabled events constants to improve configuration management
  src/constants/index.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 44e44458183786147b6a43779b1f1395469d37a8
  tracelog.js
Due: none

chore: release v1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: lib transformers wip
  .claude/README.md
  .claude/agents/clean-code-architect.md
  .claude/agents/feature-orchestrator.md
  .claude/agents/memory-leak-detector.md
  .claude/agents/security-privacy-advisor.md
  .claude/agents/test-guardian.md
  .claude/agents/type-safety-enforcer.md
  src/api.ts
  src/app.constants.ts
  src/app.ts
  src/public-api.ts
  src/types/config.types.ts
  src/types/index.ts
  src/types/state.types.ts
  src/types/transformer.types.ts
  src/utils/network/url.utils.ts
Due: npm run fix, npx prettier --write

feat: implement event transformers for dynamic event processing and enhance documentation
  .eslintrc.cjs
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  SECURITY.md
  docs/tracelog.js
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/test-bridge.types.ts
  tests/e2e/dual-destination.spec.ts
  tests/e2e/web-vitals-report-final-only.spec.ts
  tests/integration/event-flow.spec.ts
  tests/integration/session-lifecycle.spec.ts
  tests/integration/transformer-isolation.spec.ts
  tests/unit/event.manager.spec.ts
  tests/unit/handlers/page-view-handler-throttle.test.ts
  tests/unit/managers/event-manager-no-infinite-retry.test.ts
  tests/unit/managers/event-manager-transformers.test.ts
  tests/unit/managers/sender-hybrid-strategy.test.ts
  tests/unit/managers/sender-manager-edge-cases.test.ts
  tests/unit/managers/sender-permanent-errors-throttle.test.ts
  tests/unit/utils/url-utils.test.ts
  tests/utils/test-setup.ts
Due: npm run fix, npx prettier --write

feat: introduce multi-integration support for simultaneous event sending
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/app.constants.ts
  src/app.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/state.types.ts
  src/utils/network/url.utils.ts
  tests/unit/managers/event-manager-no-infinite-retry.test.ts
  tests/unit/managers/sender-hybrid-strategy.test.ts
  tests/unit/managers/sender-manager-edge-cases.test.ts
  tests/unit/managers/sender-permanent-errors-throttle.test.ts
  tests/unit/utils/url-utils.test.ts
  tests/utils/test-setup.ts
Due: npm run fix, npx prettier --write

docs: correct typo in README for core state property name
  src/managers/README.md
Due: npx prettier --write

docs: update README to reflect multi-integration capabilities and independent event persistence for SenderManager
  src/managers/README.md
Due: npx prettier --write

docs: clarify standalone mode behavior in README and enhance URL generation documentation
  src/managers/README.md
  src/utils/network/url.utils.ts
  tests/unit/managers/event-manager-no-infinite-retry.test.ts
Due: npm run fix, npx prettier --write

feat: enforce consistent integrationId and apiUrl requirements in SenderManager constructor
  docs/tracelog.js
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/utils/network/url.utils.ts
Due: npm run fix

refactor: streamline event management logic and enhance rate limiting mechanisms
  src/managers/event.manager.ts
Due: npm run fix

feat: implement transformer system for runtime event modification
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  SECURITY.md
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/public-api.ts
  src/types/transformer.types.ts
  tests/integration/event-flow.spec.ts
  tests/unit/transformers.test.ts
Due: npm run fix, npx prettier --write

feat: enhance transformer validation for custom schemas and improve error handling
  API_REFERENCE.md
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/api.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  tests/unit/transformers.test.ts
Due: npm run fix, npx prettier --write

test: add cleanup and window.location mocking in transformers tests
  .claude/commands/fix.md
  tests/unit/transformers.test.ts
Due: npx prettier --write

refactor: simplify event transformation logic and improve error handling in SenderManager
  CLAUDE.md
  README.md
  SECURITY.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  tests/unit/transformers.test.ts
Due: npm run fix, npx prettier --write

test: add comprehensive tests for getCollectApiUrls function
  docs/tracelog.js
  tests/unit/utils/url-utils.test.ts
Due: none

test: add integration and unit tests for transformer API flow and edge cases
  tests/integration/transformers-api-flow.test.ts
  tests/unit/managers/sender-transformers.test.ts
Due: none

docs: clarify recovery process in API reference for event handling
  API_REFERENCE.md
Due: npx prettier --write

refactor: update transformer API to use specific types for beforeSend and beforeBatch
  .claude/commands/precommit.md
  .github/workflows/ci.yml
  API_REFERENCE.md
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/api.ts
  src/app.ts
  src/managers/README.md
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/public-api.ts
  src/types/index.ts
  src/types/transformer.types.ts
  src/utils/index.ts
  src/utils/network/url.utils.ts
  src/utils/transformer.utils.ts
  tests/integration/app-lifecycle.integration.test.ts
  tests/integration/transformer-timing.test.ts
  tests/integration/transformers-api-flow.test.ts
  tests/integration/transformers-end-to-end.test.ts
  tests/unit/managers/sender-transformers.test.ts
  tests/unit/utils/url-utils.test.ts
Due: npm run fix, npx prettier --write

test: update transformer tests to use specific types for beforeSend and beforeBatch
  .gitignore
  tests/integration/transformer-timing.test.ts
  tests/integration/transformers-api-flow.test.ts
  tests/integration/transformers-end-to-end.test.ts
  tests/unit/transformers.test.ts
Due: none

ci: improve NPM publish process with error handling and increase wait time for propagation
  .github/workflows/ci.yml
Due: none

test: remove unnecessary timer handling in API emitter integration tests
  tests/integration/api-emitters.integration.test.ts
Due: none

test: enhance timer handling in API emitter integration tests for better async operation management
  API_REFERENCE.md
  BEST_PRACTICES.md
  CLAUDE.md
  README.md
  tests/integration/api-emitters.integration.test.ts
Due: npx prettier --write

test: refine timer management in API emitter integration tests to ensure complete async operation resolution
  tests/integration/api-emitters.integration.test.ts
Due: none

refactor: implement pending transformers management in API to handle beforeSend and beforeBatch hooks
  src/api.ts
  tests/integration/api-emitters.integration.test.ts
  tests/integration/api-transformers.integration.test.ts
  tests/integration/transformers-api-flow.test.ts
  tests/integration/transformers-end-to-end.test.ts
Due: npm run fix

test: improve async operation resolution in API emitter integration tests by switching to real timers
  tests/integration/api-emitters.integration.test.ts
Due: none

feat: add support for beforeBatch transformer in EventManager to enhance event processing
  CLAUDE.md
  src/managers/event.manager.ts
  src/utils/transformer.utils.ts
Due: npm run fix, npx prettier --write

test: enhance session manager tests with improved handling of document visibility changes and timer management
  tests/unit/session.manager.spec.ts
Due: none

test: increase timeout for callback polling in API emitter integration tests to improve reliability in CI
  tests/integration/api-emitters.integration.test.ts
Due: none

test: enhance timer management in API emitter integration tests by ensuring all pending timers and promises are resolved
  tests/integration/api-emitters.integration.test.ts
Due: none

test: streamline API emitter integration tests by removing redundant timer management and enhancing event batching logic
  tests/integration/api-emitters.integration.test.ts
Due: none

ci: add cleanup step for RC versions in release workflow to unpublish outdated npm packages
  .github/workflows/release.yml
  RELEASE.md
Due: npx prettier --write
