Repository nacorga/tracelog-lib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix, npx prettier --write

chore: release v0.11.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

fix: prevent API methods from executing in non-browser environments
  CLAUDE.md
  README.md
  docs/tracelog.js
  src/api.ts
Due: npm run fix, npx prettier --write

chore: enable silent mode in Vitest configurations and update API tests for SSR compatibility
  tests/unit/api.spec.ts
  vitest.config.mjs
  vitest.integration.config.mjs
Due: none

chore: add comprehensive review instructions for Copilot
  .github/copilot-instructions.md
  .github/instructions/api.instructions.md
  .github/instructions/handlers.instructions.md
  .github/instructions/integrations.instructions.md
  .github/instructions/managers.instructions.md
  .github/instructions/utils.instructions.md
Due: npx prettier --write

chore(demo): deploy updated demo to GitHub Pages 1a68e6ceb3932ebacec17ded7d6f616bec6eef57
  tracelog.js
Due: none

chore: release v0.11.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

docs: update CLAUDE.md and cursor rules
  .cursor/rules/context.mdc
  .cursor/rules/e2e.mdc
  CLAUDE.md
Due: npx prettier --write

chore: migrate to tsup for bundling and update build scripts
  .claude/agents/type-safety-enforcer.md
  .eslintrc.cjs
  CLAUDE.md
  package-lock.json
  package.json
  src/api.ts
  tsconfig.cjs.json
  tsconfig.esm.json
  tsup.config.ts
  vitest.config.mjs
  vitest.integration.config.mjs
Due: npm run fix, npx prettier --write

fix: scroll container detection
  docs/tracelog.js
  src/handlers/scroll.handler.ts
  tests/unit/handlers/scroll-handler-detection.test.ts
Due: npm run fix

chore: standardize NODE_ENV usage from 'dev' to 'development' across the codebase
  .cursor/rules/e2e.mdc
  CLAUDE.md
  package.json
  src/api.ts
  src/test-bridge.ts
  src/types/test-bridge.types.ts
  src/types/window.types.ts
  src/utils/logging.utils.ts
  tests/hooks/global-setup.ts
  tests/unit/api-security.test.ts
  vite.config.mjs
  vitest.config.mjs
  vitest.integration.config.mjs
Due: npm run fix, npx prettier --write

refactor: enhance URL validation and scroll handler logic
  docs/tracelog.js
  src/handlers/scroll.handler.ts
  src/utils/network/url.utils.ts
  tests/unit/handlers/scroll-handler-detection.test.ts
Due: npm run fix

ci: update CI workflow to include new build output files
  .github/workflows/ci.yml
Due: none

refactor: remove window scrollable cache and enhance dynamic detection of scroll state
  src/handlers/scroll.handler.ts
  tests/unit/handlers/scroll-handler-detection.test.ts
Due: npm run fix

refactor: handlers improves
  docs/style.css
  docs/tracelog.js
  src/constants/config.constants.ts
  src/constants/performance.constants.ts
  src/handlers/README.md
  src/handlers/click.handler.ts
  src/handlers/performance.handler.ts
  tests/unit/handlers/click-handler.test.ts
  tests/unit/handlers/performance-handler.test.ts
Due: npm run fix, npx prettier --write

refactor: rename BaseEventsQueueDto to EventsQueue and update related references
  docs/script.js
  docs/tracelog.js
  src/constants/config.constants.ts
  src/handlers/click.handler.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  src/types/emitter.types.ts
  src/types/queue.types.ts
  tests/unit/managers/sender-hybrid-strategy.test.ts
  tests/unit/managers/sender-manager-edge-cases.test.ts
  tests/unit/managers/sender-permanent-errors-throttle.test.ts
Due: npm run fix

refactor: improve viewport event firing by rounding intersection ratio
  src/handlers/viewport.handler.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages e2d70bba42a440fc287b128af041ce98e2409c28
  script.js
  style.css
  tracelog.js
Due: none

chore: release v0.11.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: enhance scroll handler to track first scroll event time and improve velocity calculation
  docs/tracelog.js
  src/handlers/scroll.handler.ts
  tests/unit/handlers/scroll-handler-core.test.ts
Due: npm run fix

refactor: simplify time delta calculation in scroll handler for improved readability
  src/handlers/scroll.handler.ts
Due: npm run fix

chore: update package.json to include only 'dist' directory in files list
  package.json
Due: npx prettier --write

refactor: prevent infinite retry loops on API failures and enhance event persistence logic
  docs/tracelog.js
  src/constants/config.constants.ts
  src/handlers/scroll.handler.ts
  src/managers/event.manager.ts
  src/managers/sender.manager.ts
  tests/e2e/permanent-errors.spec.ts
  tests/unit/managers/event-manager-no-infinite-retry.test.ts
  tests/unit/performance.handler.spec.ts
Due: npm run fix

refactor: introduce persistence throttle constant and improve scroll event time handling
  src/constants/config.constants.ts
  src/handlers/scroll.handler.ts
  src/managers/sender.manager.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 19d5d6c59f638b16b5d619f1edb5b18356cefbd4
  tracelog.js
Due: none

chore: release v0.11.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

docs: updated documentation to reflect error handling and recovery logic for event persistence
  CLAUDE.md
  README.md
  src/managers/README.md
Due: npx prettier --write

chore: release v0.11.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

feat: add configurable web vitals filtering modes and thresholds
  README.md
  docs/tracelog.js
  src/constants/performance.constants.ts
  src/handlers/README.md
  src/handlers/performance.handler.ts
  src/types/config.types.ts
  src/utils/validations/config-validations.utils.ts
  tests/integration/performance-error-filters.integration.test.ts
  tests/unit/config/web-vitals-config-edge-cases.test.ts
  tests/unit/handlers/performance-handler.test.ts
  tests/unit/performance.handler.spec.ts
  vite.config.mjs
Due: npm run fix, npx prettier --write

refactor: remove legacy web vitals thresholds and update exports for performance constants
  src/app.constants.ts
  src/constants/performance.constants.ts
Due: npm run fix

refactor: streamline performance handler initialization and threshold management
  src/handlers/performance.handler.ts
Due: npm run fix

chore: introduce web vitals good thresholds and update performance handler to utilize them
  docs/tracelog.js
Due: none

refactor: convert function declarations to arrow functions for consistency in performance and state management modules
  src/constants/performance.constants.ts
  src/managers/state.manager.ts
  src/types/scroll.types.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages b9da718475e7e1bc09a94259cd4506e8770f4951
  tracelog.js
Due: none

chore: release v0.12.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npx prettier --write

refactor: enhance QA mode with programmatic API and URL activation for improved debugging and testing
  CLAUDE.md
  README.md
  docs/README.md
  src/api.ts
  src/app.constants.ts
  src/constants/app.constants.ts
  src/constants/index.ts
  src/constants/storage.constants.ts
  src/managers/event.manager.ts
  src/public-api.ts
  src/utils/browser/qa-mode.utils.ts
  src/utils/logging.utils.ts
  tests/TESTING_GUIDE.md
  tests/unit/utils/browser/qa-mode.test.ts
  tests/unit/utils/logging.test.ts
Due: npm run fix, npx prettier --write

docs: add comprehensive API reference and best practices documentation for TraceLog
  API_REFERENCE.md
  BEST_PRACTICES.md
  README.md
Due: npx prettier --write

refactor: improve QA mode handling with new logging styles and URL parameter management
  docs/README.md
  src/constants/app.constants.ts
  src/utils/browser/qa-mode.utils.ts
  tests/TESTING_GUIDE.md
Due: npm run fix, npx prettier --write

docs: update README with enhanced quick start guide, core API details, and privacy features for TraceLog
  README.md
Due: npx prettier --write

refactor: enhance logging utility to improve error message handling and data sanitization
  src/utils/logging.utils.ts
Due: npm run fix

chore(demo): deploy updated demo to GitHub Pages 58cc240a0dd76c71bd72a0fd16d335a1ba9df537
  README.md
  tracelog.js
Due: npx prettier --write

Path conditions:
  npm run fix: any of: src/**/*.ts
  npx prettier --write: (any of: scripts/**/*.js) or (any of: *.{json,md})
